/*--------------------------------------------------------------
    Title & Breadcrumb
--------------------------------------------------------------*/

.main-title-section-wrapper {
  clear: both;
  float: left;
  margin: 0;
  width: 100%;
}

#header-wrapper .main-title-section-wrapper {
  position: relative;
}

#header-wrapper.header-top-absolute .main-title-section-wrapper {
  position: static;
}

.main-title-section-container {
  clear: both;
  float: left;
  margin: 0;
  padding: clamp(3.125rem, 2.6923rem + 1.9231vw, 5rem) 0 calc(clamp(3.125rem, 2.6923rem + 1.9231vw, 5rem) + 10px);
  width: 100%;
  text-align: center;
}

.main-title-section {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-title-section h1 {
  font-size: clamp(2rem, 1.7115rem + 1.2821vw, 3.25rem); /* Min-32 & Max-52 */
  text-transform: none;
  margin: 0 0 20px;
  word-break: break-all;
}

.breadcrumb {
  clear: both;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: 500;
}

.breadcrumb a:not(:focus) {
  text-decoration: none;
}

.breadcrumb span:not(.current) {
  display: inline-block;
  margin: 0px 12px;
  padding: 0;
}

.breadcrumb .breadcrumb-default-delimiter:last-child {
  display: none;
}

.main-title-section-wrapper .breadcrumb-default-delimiter:before {
  content: "";
  display: inline-block;
  opacity: 1;
  font-size: var(--wdtFontSize_H6);
  width: 10px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' class='e-font-icon-svg e-fas-chevron-right' viewBox='0 0 320 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'%3E%3C/path%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 8px;
  mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' class='e-font-icon-svg e-fas-chevron-right' viewBox='0 0 320 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'%3E%3C/path%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 8px;
  background: currentColor;
  height: 10px;
  position: relative;
  bottom: -1px;
}

.main-title-section h1,
.breadcrumb {
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.main-title-section-wrapper > .main-title-section-bg,
.main-title-section-wrapper > .main-title-section-bg:after {
  content: "";
  height: 100% !important;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  pointer-events: none;
}

.home #header-wrapper .main-title-section-wrapper .main-title-section-container {
    display: none;
}


/* Anchor issue */

.breadcrumb > *:last-child {
  pointer-events: none;
}

/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

.breadcrumb {
  color: var(--wdtBodyTxtColor);
}

.main-title-section h1 {
  color: var(--wdtHeadAltColor);
}

.breadcrumb a {
  color: var(--wdtHeadAltColor);
}

.breadcrumb span.current {
  color: var(--wdtBodyTxtColor);
}

.main-title-section-wrapper.overlay-wrapper > .main-title-section-bg:after {
  opacity: 0.5;
}

.main-title-section-wrapper.overlay-wrapper > .main-title-section-bg:after
{
    background-color: var(--wdtTertiaryColor);
}

.main-title-section-wrapper.overlay-wrapper.dark-bg-breadcrumb > .main-title-section-bg:after
{
    background-color: var(--wdtHeadAltColor);
}

.main-title-section-wrapper > .main-title-section-bg:after {
  background-color: var(--wdtTertiaryColor);
}

.main-title-section-wrapper.dark-bg-breadcrumb > .main-title-section-bg {
  background-color: var(--wdtHeadAltColor);
}

/* .dark-bg-breadcrumb .main-title-section h1,
.dark-bg-breadcrumb .breadcrumb a,
.dark-bg-breadcrumb .breadcrumb span.current,
.dark-bg-breadcrumb .breadcrumb span:not(.current) {
  color: var(--wdtAccentTxtColor);
} */

/* .breadcrumb a:hover,
.dark-bg-breadcrumb .breadcrumb a:hover {
  color: var(--wdtHeadAltColor);
} */

body:not(.custom-background) .main-title-section-wrapper > .main-title-section-bg::after { 
  background-color: var(--wdtBodyBGColor);
} 
/* body:not(.custom-background) .main-title-section-container{
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--wdtBorderColor);
} */

/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

/* Primary Color */
.breadcrumb a:hover {
  color: var(--wdtPrimaryColor);
}

/*--------------------------------------------------------------
	Responsive
--------------------------------------------------------------*/

/* @media only screen and (min-width: 1281px) {
  .main-title-section-wrapper .main-title-section-container {
    padding: 75px 0 90px;
  }
}

@media only screen and (max-width: 1280px) {
  .main-title-section-wrapper .main-title-section-container {
    padding: 45px 0 60px;
  }
} */

@media only screen and (min-width: 768px) {
  
  .main-title-section-wrapper.hide-content .main-title-section, .main-title-section-wrapper.hide-content .breadcrumb { display: none; }
  .main-title-section-wrapper.hide-content .main-title-section-container { min-height: 300px; }  

}

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */

@media only screen and (max-width: 767px) {
  .main-title-section,
  .main-title-section h1,
  .breadcrumb {
    text-align: center;
  }
}
