	/*--------------------------------------------------------------
	1.0 - Transition
	--------------------------------------------------------------*/

	.blog-single-entry,.blog-single-entry .single-entry-thumb .bx-controls a,
	.blog-single-entry .related-article article, .blog-single-entry .wdt-related-carousel a, .blog-single-entry .wdt-related-carousel img,
	div.wdt-posts-meta-group div[class*="entry-"],
	.post-default > div.wdt-posts-meta-group div[class*="entry-"],
	div.wdt-posts-meta-group div[class*="entry-"] *,
	.post-default > div.wdt-posts-meta-group div[class*="entry-"] *, .blog-single-entry .wdt-related-carousel .carousel-navigation * {
    transition: all .3s linear; -moz-transition: all .3s linear; -ms-transition: all .3s linear; -o-transition: all .3s linear; -webkit-transition: all .3s linear; }

	.blog-single-entry.format-gallery .single-entry-thumb.single-preview-img, .blog-single-entry .single-entry-thumb.single-preview-img ul li,
	.blog-single-entry .wdt-related-carousel { transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; -webkit-transition: none; z-index:1; }
	.blog-single-entry .entry-post-navigation > div > .nav-title-wrap h3 {font-size: var(--wdtFontSize_H5);}
	.blog-single-entry .entry-post-navigation > div > .nav-title-wrap p a { display: inline-flex; align-items: center; }

	/*--------------------------------------------------------------
	1.1 - Blog Base Styles
	--------------------------------------------------------------*/

	.blog-single-entry { clear: both; float: left; margin: 0; padding: 0; position: relative; width: 100%; }
	.blog-single-entry .entry-details { clear: both; display: inline-block; width: 100%; }
	.blog-single-entry .entry-meta { font-size: 14px; font-weight: 300; letter-spacing: .5px; margin-bottom: 7px; }
	.blog-single-entry .single-entry-body { clear: both; float: left; margin: 0 0 15px; width: 100%; }
	.blog-single-entry .single-entry-body > *:last-child { margin-bottom: 50px; }
	.blog-single-entry .single-entry-body > *:last-child:after { content: ""; clear: both; display: block; }

	.blog-single-entry .single-entry-body > *:last-child > img[class*="align"]:only-child { clear: both; }

	/*----*****---- << Blog Icon >> ----*****----*/
	.blog-single-entry div i[class*="fa"],.blog-single-entry div i.pe { margin-right: 3px; }
	.blog-single-entry div .elementor-social-icon i[class*="fa"], .blog-single-entry div .elementor-social-icon i.pe { margin-right: 0; }

	/*----*****---- << Blog Thumb >> ----*****----*/
	.blog-single-entry .single-entry-thumb { float: left; line-height: 0; position: relative; width: 100%; }
	.blog-single-entry:not(.has-post-thumbnail) .single-entry-thumb { display: none; }
	.blog-single-entry .single-entry-thumb img { height: auto; max-width: 100%; }
	.blog-single-entry .single-entry-thumb .wdt-video-wrap .wp-video { width: 100% !important; }

	/*----*****---- << Blog Title >> ----*****----*/
	.blog-single-entry .entry-title span.sticky-post { display: inline-block; font-size: 10px; letter-spacing: 1px; line-height: normal; margin-bottom: 15px; padding: 3px 5px; text-align: center; text-transform: uppercase; width: auto; }
	.blog-single-entry > .entry-title h4 { font-size: 18px; margin-bottom: 20px; text-transform: uppercase; word-wrap: break-word; -ms-word-wrap: break-word; }

	/*----*****---- << Blog Likes Views >> ----*****----*/

	.blog-single-entry > .wdt-like-views > div:last-child,.blog-single-entry > .wdt-like-views > div:only-child { margin-right: 0; padding-right: 0; }

	/*----*****---- << Blog Social Share >> ----*****----*/
	.blog-single-entry > .entry-social-share > .share,.blog-single-entry .entry-social-share > .share { border: 1px solid; padding-right: 5px; }
	.blog-single-entry > .entry-social-share > .share,.blog-single-entry > .entry-social-share > .share *,.blog-single-entry .entry-social-share > .share,.blog-single-entry .entry-social-share > .share * { display: inline-block; float: none; }
	.blog-single-entry > .entry-social-share > .share > ul,.blog-single-entry .entry-social-share .share > ul { margin-bottom: 0; padding-left: 0; }
	.blog-single-entry > .entry-social-share > .share > ul li,.blog-single-entry .entry-social-share .share > ul li { list-style: none; margin-right: 5px; padding-bottom: 0; }

	/*----*****---- << Blog Buttons >> ----*****----*/
	.blog-single-entry .entry-button a.wdt-button { display: inline-block; float: none; margin: 0; padding: var(--wdtPadding_Btn); text-transform: capitalize; }

	/*----*****---- << Blog Format >> ----*****----*/
	.blog-single-entry.type-post .entry-format { display: none; }
	.blog-single-entry .entry-format { display: none; left: 0; position: absolute; top: 0; z-index: 9; }
	.blog-single-entry .entry-format a { float: left; height: 50px; line-height: 50px; margin: 10px; position: relative; text-align: center; width: 50px; }
	.blog-single-entry .entry-format a:before { font-family: "Glidex Icons"; font-size: 20px; font-weight: 400; height: 100%; left: 0; line-height: 50px; margin: 0; position: absolute; text-align: center; top: 0; width: 100%; }

	.blog-single-entry.type-post:not(.has-post-thumbnail) .entry-format { display: none; }

	.blog-single-entry.format-standard .entry-format a:before,.blog-single-entry.ico-format.format-standard:before { content: '\e832'; }
	.blog-single-entry.format-image .entry-format a:before,.blog-single-entry.ico-format.format-image:before { content: '\e80d'; }
	.blog-single-entry.format-gallery .entry-format a:before,.blog-single-entry.ico-format.format-gallery:before { content: '\e80f'; }
	.blog-single-entry.format-status .entry-format a:before,.blog-single-entry.ico-format.format-status:before { content: '\f27a'; }
	.blog-single-entry.format-link .entry-format a:before,.blog-single-entry.ico-format.format-link:before { content: '\e820'; }
	.blog-single-entry.format-aside .entry-format a:before,.blog-single-entry.ico-format.format-aside:before { content: '\f15b'; }
	.blog-single-entry.format-quote .entry-format a:before,.blog-single-entry.ico-format.format-quote:before { content: '\f10d'; }
	.blog-single-entry.format-chat .entry-format a:before,.blog-single-entry.ico-format.format-chat:before { content: '\f27a'; }
	.blog-single-entry.format-audio .entry-format a:before,.blog-single-entry.ico-format.format-audio:before { content: '\e801'; }
	.blog-single-entry.format-video .entry-format a:before,.blog-single-entry.ico-format.format-video:before { content: '\e80b'; }

	/*----*****---- << Blog Gallery Slider >> ----*****----*/
	.blog-single-entry .single-entry-thumb .bx-wrapper { overflow: hidden; position: relative; }
	.blog-single-entry .single-entry-thumb .bx-controls a { bottom: 0; filter: alpha(opacity=60); font-size: 0; height: 50px; margin: auto; opacity: .6; position: absolute; top: 0; width: 35px; z-index: 1; }
	.blog-single-entry .single-entry-thumb .bx-controls a:hover { filter: alpha(opacity=100); opacity: 1; }
	.blog-single-entry .single-entry-thumb .bx-controls a.bx-prev:before,.single-entry-thumb .bx-controls a.bx-next:before { content: '\e684'; font-family: Pe-icon-7-stroke; font-size: 32px; left: 0; line-height: 50px; position: absolute; text-align: center; text-indent: 0; top: 0; width: 100%; }
	.blog-single-entry .single-entry-thumb .bx-controls a.bx-prev:before { content: '\e686'; }
	.blog-single-entry .single-entry-thumb .bx-controls a.bx-prev { left: -35px; }
	.blog-single-entry .single-entry-thumb .bx-controls a.bx-next { right: -35px; }
	.blog-single-entry .single-entry-thumb:hover .bx-controls a.bx-prev { left: 15px; }
	.blog-single-entry .single-entry-thumb:hover .bx-controls a.bx-next { right: 15px; }
	.blog-single-entry .entry-gallery-post-slider li { padding: 0; }
	.blog-single-entry ul.entry-gallery-post-slider { margin-bottom: 0; padding-left: 0; }

	/*----*****---- << Related Post Carousel >> ----*****----*/
    .wdt-related-carousel .tpl-blog-holder .column,
    .wdt-related-carousel .tpl-blog-holder .column.first { clear: none; }

    .wdt-related-carousel div[class*="carousel-"] { width: 100%; float: left; text-align: center; margin: 25px 0 55px; }
    .wdt-related-carousel div[class*="carousel-"] > div { float: none; display: inline-block; width: 50px; height: 50px; text-align: center; cursor: pointer; line-height: 50px; }
    .wdt-related-carousel div[class*="carousel-"] > div i[class*="fa"],
    .wdt-related-carousel div[class*="carousel-"] > div i.pe { line-height: 50px; font-size: 20px; }

    .wdt-related-carousel .carousel-pager > a { background: none; border: 1px solid; display: inline-block; font-size: 13px; font-weight: 600; height: 40px; letter-spacing: .5px; line-height: 38px; margin: 10px 5px 0 0; padding: 0; position: relative; text-transform: uppercase; width: 40px; }

	.blog-single-entry .wdt-related-posts { margin-bottom: 40px; }
	.blog-single-entry .wdt-related-posts .entry-button a.wdt-button { padding: 16px 20px 14px 20px; }

	/*----*****---- << Blog Author Info >> ----*****----*/
	.author-info { clear: both; display: block; float: left; margin: 40px 0 0; padding: 0; }
	.author-info .thumb { float: left; margin: 0 20px 0 0; position: relative; width: 110px; }
	.author-info .thumb img { border-radius: 100%; height: auto; max-width: 100%; }
	.author-info h2 { font-size: 20px; font-weight: normal; margin-bottom: 30px; text-transform: none; }
	.author-info h3 span { color: #aaa; font-size: 14px; }
	.author-info h3 { font-size: 18px; margin-top: 0; }

	.author-info h3, .entry-author-bio .details h3 { margin-top: 15px; }

	/*----*****---- << Blog Post Common Styles > ----*****----*/

	.blog-single-entry div.entry-meta-group:empty { display: none; }
	.blog-single-entry .entry-author, .blog-single-entry .entry-date, .blog-single-entry .entry-comments, .blog-single-entry .entry-categories, .blog-single-entry .entry-tags,
	.blog-single-entry .entry-social-share, .blog-single-entry .entry-likes-views, .blog-single-entry .entry-likes-views .wdt-like-views > div { display: inline-block; float: none; position: relative; text-transform: capitalize;  width: 100%; }
	.blog-single-entry .entry-likes-views .wdt-like-views > div { width: auto; }
	.blog-single-entry .entry-likes-views .wdt-like-views .views { margin-left: 10px; }

	.blog-single-entry div[class*="entry-"]:not(.wdt-post-entry) { margin-bottom: 20px; -webkit-transition:all .3s linear; transition:all .3s linear; }
	.blog-single-entry div[class*="entry-tags"]:not(.wdt-post-entry) { margin-bottom: 0; }
	.blog-single-entry div[class*="single-entry-"] { display: inline-block; width: 100%; }

	.blog-single-entry div[class^="entry-"] div[class^="single-entry-"] { margin-bottom: 0; }
	.blog-single-entry div[class^="entry-"] div[class^="single-entry-tags"] { display: inline-flex; flex-wrap: wrap; }
	.blog-single-entry div[class^="entry-"] div[class^="single-entry-tags"] > a {
		font-size: var(--wdtFontSize_Base) !important;
		line-height: normal;
		margin: 0 10px 10px 0 !important;
		padding: 8px 20px;
		-webkit-border-radius: var(--wdtRadius_Part);
		border-radius: var(--wdtRadius_Part);
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-transform: capitalize;
		color: var(--wdtHeadAltColor);
		background: var(--wdtQuaternaryColor);
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.blog-single-entry div[class^="entry-"] div[class^="single-entry-tags"] > a:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(45deg, var(--wdtPrimaryColor), var(--wdtSecondaryColor));
		z-index: -1;
		opacity: 0;
		transition: var(--wdt-Ad-Transition);
	}
	.blog-single-entry div[class^="entry-"] div[class^="single-entry-tags"] > a:hover:before{
		opacity: 1;
	}
	.blog-single-entry div[class^="entry-"] div[class^="single-entry-tags"] > a:hover{
		color: var(--wdtAccentTxtColor) !important;
		background: var(--wdtPrimaryColor);
	}

	.blog-single-entry div[class*="entry-thumb"].single-preview-img { position: relative; margin: 0; text-align: center; }
	.blog-single-entry div[class*="entry-thumb"].single-preview-img .bx-has-controls-direction .bx-controls-direction { position: absolute; height: calc(100% - 60px); width: 100%; display: flex;align-items: center; justify-content: space-between; top: 0; overflow: hidden; }
	.blog-single-entry div[class*="entry-thumb"].single-preview-img .bx-has-controls-direction .bx-controls-direction a { bottom: 0; filter: alpha(opacity=60); font-size: 0; height: 50px; margin: auto; opacity: .6; position: absolute; top: 0; width: 35px; z-index: 9; }
    .blog-single-entry div[class*="entry-thumb"].single-preview-img .bx-has-controls-direction .bx-controls-direction a:hover { filter: alpha(opacity=100); opacity: 1; }
	.blog-single-entry div[class*="entry-thumb"].single-preview-img .bx-has-controls-direction .bx-controls-direction a.bx-prev:before,
	.blog-single-entry div[class*="entry-thumb"].single-preview-img .bx-has-controls-direction .bx-controls-direction a.bx-next:after { content: '\e85b'; font-family: "Glidex Icons"; font-size: 14px; left: 0; line-height: 50px; position: absolute; text-align: center; top: 0; width: 100%; }
    .blog-single-entry div[class*="entry-thumb"].single-preview-img .bx-has-controls-direction .bx-controls-direction a.bx-prev:before { content: '\e85a'; }
    .blog-single-entry div[class*="entry-thumb"].single-preview-img .bx-has-controls-direction .bx-controls-direction a.bx-prev { left: -35px; }
    .blog-single-entry div[class*="entry-thumb"].single-preview-img .bx-has-controls-direction .bx-controls-direction a.bx-next { right: -35px; }

    .blog-single-entry div[class*="entry-thumb"].single-preview-img:hover .bx-has-controls-direction .bx-controls-direction a.bx-prev { left: 15px; }
    .blog-single-entry div[class*="entry-thumb"].single-preview-img:hover .bx-has-controls-direction .bx-controls-direction a.bx-next { right: 15px; }

	.blog-single-entry div[class*="entry-thumb"].single-preview-img .entry-link-inner,
	.blog-single-entry div[class*="entry-thumb"].single-preview-img .entry-quote-inner { display: none; }


	.blog-single-entry .single-entry-body tbody th { background: none !important; }
	.blog-single-entry .single-entry-body tbody th a { text-transform: none; }
	.blog-single-entry .single-entry-body tbody th, .blog-single-entry .single-entry-body tbody th a { color: inherit; }

	.wdt-post-entry .blog-entry.post-without-title .entry-title, .wdt-post-entry:not(.entry-cover-layout) .blog-entry.post-without-title > div.entry-title { display: none; }

	.blog-single-entry:not(.has-post-thumbnail) .wdt-related-posts .single-entry-thumb { display:block; }
	.blog-single-entry .wdt-related-posts .entry-meta-group .entry-author a { left:auto !important; }

	.blog-single-entry > .entry-title h1 { word-wrap: break-word; }


    .single-post .mfp-title { font-size: 0; margin-top: 10px; padding-right: 0; text-align: center; text-transform: capitalize; }
    .single-post .mfp-title a { font-size: 16px; border-bottom: 1px solid; }

    .single-post button, .single-post .mfp-image-holder + button.mfp-close, .single-post .mfp-image-holder + button.mfp-arrow,
    .single-post .mfp-image-holder + button.mfp-close:active { top: auto; -webkit-transform: none; transform: none; }

	.single-post .blog-single-entry.format-audio .single-entry-thumb.single-preview-img .mejs-offscreen + .mejs-container { min-height: 120px !important; }
	.single-post .blog-single-entry.format-audio .single-entry-thumb.single-preview-img .mejs-container button { border-radius: 0; }
	.single-post .blog-single-entry.format-audio .single-entry-thumb.single-preview-img .mejs-container .mejs-time { line-height: 5px; }

	/* ----Blog-Detail-Pagination-common */

	.blog-single-entry .entry-post-navigation.type1 > div:not(.no-post) > .nav-title-wrap h3 {display: none;}
	.blog-single-entry .entry-post-navigation > div.no-post > .nav-title-wrap h3 {margin: 0 0 0 0;}
	.blog-single-entry .entry-post-navigation > div > .nav-title-wrap h3 {margin: 0 0 15px 0;}
	.blog-single-entry .entry-post-navigation.type1 > .post-next-link > .next-post-bgimg,
	.blog-single-entry .entry-post-navigation.type1 > .post-prev-link > .prev-post-bgimg {display: none}
	.blog-single-entry .entry-post-navigation.type2 > .post-next-link > .next-post-bgimg,
	.blog-single-entry .entry-post-navigation.type2 > .post-prev-link > .prev-post-bgimg {display: none}
	.blog-single-entry .entry-post-navigation > div.post-next-link > .nav-title-wrap p a:after,
	.blog-single-entry .entry-post-navigation > div.post-prev-link > .nav-title-wrap p a:before {
	font-family: "wdt-ext-icon";
	font-style: normal;
	font-weight: 700;
	display: inline-block;
	text-decoration: inherit;
	font-size: calc(var(--wdtFontSize_Base) - 2px);
	margin: 0;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    }
	.blog-single-entry .entry-post-navigation>div.post-prev-link>.nav-title-wrap p a:before {
		content: '';
		margin-right: 5px;
		-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M14.1,28h39.7L2.3,79.5l18.2,18.2L72,46.2v39.7h25.7V2.3H14.1V28z'/%3E%3C/svg%3E");
		-webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 14px;
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M14.1,28h39.7L2.3,79.5l18.2,18.2L72,46.2v39.7h25.7V2.3H14.1V28z'/%3E%3C/svg%3E");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: 14px;
		background-color: var(--wdtPrimaryColor);
		width: 16px;
		height: 16px;
		transform: scaleX(-1);
	}
	.blog-single-entry .entry-post-navigation>div.post-next-link>.nav-title-wrap p a:after {
		content: '';
		margin-left: 5px;
		-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M14.1,28h39.7L2.3,79.5l18.2,18.2L72,46.2v39.7h25.7V2.3H14.1V28z'/%3E%3C/svg%3E");
		-webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: 14px;
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M14.1,28h39.7L2.3,79.5l18.2,18.2L72,46.2v39.7h25.7V2.3H14.1V28z'/%3E%3C/svg%3E");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: 14px;
		background-color: var(--wdtPrimaryColor);
		width: 16px;
		height: 16px;
	}
	.blog-single-entry .entry-post-navigation > div > .nav-title-wrap h3 { display: block; position: relative; width: 100%;text-transform: capitalize;}
	.blog-single-entry .entry-post-navigation > div > .nav-title-wrap h3 a { margin: 0; -webkit-hyphens: auto; hyphens: auto; word-break: break-word; }
	.blog-single-entry .entry-post-navigation > div > .nav-title-wrap span { display: none; }
	article[class*="post-"].blog-single-entry.post-minimal .entry-post-navigation > div.no-post { cursor: not-allowed; }
	.blog-single-entry .entry-post-navigation > .post-prev-link:hover > .prev-post-bgimg:before, 
	.blog-single-entry .entry-post-navigation > .post-next-link:hover > .next-post-bgimg:before { opacity: 1; }
	.blog-single-entry .entry-post-navigation > div > a { display: block; height: 100%; position: absolute; left: 0; top: 0; width: 100%; z-index: 1; }
	.blog-single-entry .entry-post-navigation > div > a:focus { outline: thin dotted; outline-offset: -1px; }
	.blog-single-entry .entry-post-navigation>div>.nav-title-wrap p {
		display: block;
		letter-spacing: 0;
		line-height: normal;
		margin: 0;
		position: relative;
		text-transform: capitalize;
		width: 100%;
		-webkit-transition: var(--wdtBaseTransition);
		transition: var(--wdtBaseTransition);
	}

	.blog-single-entry .entry-post-navigation {
		clear: both;
		display: block;
		margin: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem) auto 0 !important;
		position: relative;
		width: 100%;
		max-width: 1400px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	.blog-single-entry .entry-post-navigation > div { overflow: hidden; padding: 25px; width: 100%; display: flex; align-items: center; position: relative; /*height: 190px;*/ background: var(--wdtQuaternaryColor); }

	.blog-single-entry .entry-post-navigation > div .nav-title-wrap { width: 100%; }
	.blog-single-entry .entry-post-navigation > div *[class*="-bgimg"] ~ .nav-title-wrap { width: calc(100% - 120px); }
	.blog-single-entry .entry-post-navigation.type3 > div [class*="-bgimg"] ~ .nav-title-wrap {width: 100%;display: flex;flex-direction: column-reverse;}
	.blog-single-entry .entry-post-navigation.type3 > div  .nav-title-wrap {
		display: flex;
		flex-direction: column-reverse;
 	 }
	.blog-single-entry .entry-post-navigation.type3 > div[class*="-link"]:has( > a:not([class*="-bgimg"])){
			padding: 25px;
	}

	.blog-single-entry .entry-post-navigation > .post-prev-link { justify-content: flex-start; text-align: left; }
	.blog-single-entry .entry-post-navigation > .post-next-link { justify-content: flex-end; text-align: right; }

	.blog-single-entry .entry-post-navigation > .post-prev-link > .prev-post-bgimg,
	.blog-single-entry .entry-post-navigation > .post-next-link > .next-post-bgimg { background-position: center; background-size: cover; height: 100px; overflow: hidden; position: absolute; top: 50%; width: 100px; -webkit-border-radius: var(--wdtRadius_3X); border-radius: var(--wdtRadius_3X); }

	.blog-single-entry .entry-post-navigation > .post-prev-link > .prev-post-bgimg { transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); }
	.blog-single-entry .entry-post-navigation > .post-next-link > .next-post-bgimg { transform: translate(50%, -50%); -webkit-transform: translate(50%, -50%); -moz-transform: translate(50%, -50%); }

	.blog-single-entry .entry-post-navigation > .post-prev-link > .prev-post-bgimg { right: 0; left: auto;}
	.blog-single-entry .entry-post-navigation > .post-next-link > .next-post-bgimg { left: 0; right: auto;}

	.blog-single-entry .entry-post-navigation > .post-prev-link > .prev-post-bgimg:before, 
	.blog-single-entry .entry-post-navigation > .post-next-link > .next-post-bgimg:before { border-width: 0; content: ''; display: block; height: 100%; opacity: 0; position: absolute; top: 0; width: 100%; -webkit-transition:all .3s linear; transition:all .3s linear; }

	.blog-single-entry .entry-post-navigation > .post-prev-link > .prev-post-bgimg:before,
	.blog-single-entry .entry-post-navigation > .post-next-link > .next-post-bgimg:before {
		background: rgba(var(--wdtHeadAltColorRgb),0.3);
		background: -webkit-radial-gradient(center, ellipse cover, transparent 10%, rgba(var(--wdtHeadAltColorRgb),0.3) 100%);
		background: radial-gradient(transparent 10%, rgba(var(--wdtHeadAltColorRgb),0.3) 100%);
	}


/*--------------------------------------------------------------
	Default Colors
--------------------------------------------------------------*/

	.blog-single-entry .single-entry-thumb .bx-controls a, .blog-single-entry .related-article, .blog-single-entry div[class*="entry-thumb"].single-preview-img .bx-has-controls-direction .bx-controls-direction a { background: var(--wdtBodyBGColor); }

	.blog-single-entry .entry-title span.sticky-post { background: var(--wdtBodyTxtColor); }

	.blog-single-entry .entry-title span.sticky-post, .blog-single-entry .entry-format a, .blog-single-entry .single-entry-thumb .bx-controls a, .blog-single-entry .related-article .arrow { color: var(--wdtAccentTxtColor); }

	.blog-single-entry .single-entry-thumb .bx-controls a.bx-prev:before,.single-entry-thumb .bx-controls a.bx-next:before, .blog-single-entry .related-article .content span.entry-date { color: var(--wdtHeadAltColor); }

	.blog-single-entry .entry-format a { -webkit-box-shadow: inset 0 0 0 2px var(--wdtBodyBGColor); box-shadow: inset 0 0 0 2px var(--wdtBodyBGColor); }

	.blog-single-entry .related-article.open { -webkit-box-shadow: -2px 0 6px 0 rgba(0,0,0,.25); box-shadow: -2px 0 6px 0 rgba(0,0,0,.25); }


/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

    /* Primary */
	.blog-single-entry .entry-format a, .post-edit-link:hover,

	.page-template-default .blog-single-entry table thead, .post-template-default .blog-single-entry table thead { background-color: var(--wdtPrimaryColor); }

	.blog-single-entry div[class*="entry-thumb"].single-preview-img .bx-has-controls-direction .bx-controls-direction a.bx-prev:before,
	.blog-single-entry div[class*="entry-thumb"].single-preview-img .bx-has-controls-direction .bx-controls-direction a.bx-next:after { color: var(--wdtPrimaryColor); }


	/* Navigate Style III From Pro_Plugin */

	/* Navigation - Type III (with title And Image) */

.entry-post-navigation.type3 { margin-top: 120px; margin-bottom: 150px; }

.entry-post-navigation.type3 > div { padding: 25px; }
.blog-single-entry .entry-post-navigation.type3 > div  .nav-title-wrap {
    display: flex;
    flex-direction: column-reverse;
}
.blog-single-entry .entry-post-navigation.type3 > div[class*="-link"]:has( > a:not([class*="-bgimg"])){
    padding: 25px;
}
.entry-post-navigation.type3 > div[class*="post-"].no-post { cursor: default; }
.entry-post-navigation.type3 > div[class*="post-"].no-post > a,
.entry-post-navigation.type3 > div[class*="post-"].no-post > .nav-title-wrap h3{ cursor: not-allowed; }
.entry-post-navigation.type3 > div[class*="post-"].no-post a { pointer-events: none; }

.entry-post-navigation.type3 > div.post-prev-link > .nav-title-wrap p a:before,
.entry-post-navigation.type3 > div.post-next-link > .nav-title-wrap p a:after { display: none; }

.entry-post-navigation.type3 > .post-prev-link > .prev-post-bgimg, 
.entry-post-navigation.type3 > .post-next-link > .next-post-bgimg { height: 140px;
    background-position: center; background-size: cover; overflow: hidden; position: absolute; top: 50%; width: 170px; 
    -webkit-border-radius: var(--wdtRadius_Zero); border-radius: var(--wdtRadius_Zero); }

.entry-post-navigation.type3 > div[class*="post-"] > a[class$="-post-bgimg"] { 
    transform: translate(0%, -50%); -webkit-transform: translate(0%, -50%); -moz-transform: translate(0%, -50%); }
.entry-post-navigation.type3 > .post-prev-link > .prev-post-bgimg { right: auto; left: 0; bottom: 0; height: 100%; }
.entry-post-navigation.type3 > .post-next-link > .next-post-bgimg { right: 0; left: auto; bottom: 0; height: 100%; }

.entry-post-navigation.type3 > .post-prev-link > .prev-post-bgimg:before, 
.entry-post-navigation.type3 > .post-next-link > .next-post-bgimg:before {
    border-width: 0; content: ''; display: block; height: 100%; opacity: 0; position: absolute; top: 0; width: 100%; 
    -webkit-transition: all .3s linear; transition: all .3s linear; }

.entry-post-navigation.type3 > .post-prev-link > .prev-post-bgimg:before, 
.entry-post-navigation.type3 > .post-next-link > .next-post-bgimg:before {
    background: rgba(var(--wdtHeadAltColorRgb),0.3); 
    background: -webkit-radial-gradient(center, ellipse cover, transparent 10%, rgba(var(--wdtHeadAltColorRgb),0.3) 100%); 
    background: radial-gradient(transparent 10%, rgba(var(--wdtHeadAltColorRgb),0.3) 100%);
    background: rgba(var(--wdtAccentTxtColorRgb),.3); }

.entry-post-navigation.type3 > .post-prev-link:hover > .prev-post-bgimg:before, 
.entry-post-navigation.type3 > .post-next-link:hover > .next-post-bgimg:before { opacity: 1; }

.entry-post-navigation.type3>div.post-prev-link>.nav-title-wrap p>a:before {
    content: '';
    margin-right: 0.8em;
    display: inline-block;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 20 12' style='enable-background:new 0 0 20 12;' xml:space='preserve'%3E%3Cpath d='M19.6,6.4L13,11.9c-0.2,0.2-0.6,0.2-0.7-0.1c-0.2-0.2-0.2-0.5,0.1-0.7l5.5-4.6h-17C0.5,6.5,0.2,6.3,0.2,6 c0-0.3,0.2-0.5,0.5-0.5h17l-5.5-4.6c-0.2-0.2-0.2-0.5-0.1-0.7C12.3,0.1,12.5,0,12.6,0c0.1,0,0.2,0,0.3,0.1l6.6,5.5 c0.1,0.1,0.2,0.2,0.2,0.4C19.8,6.2,19.7,6.3,19.6,6.4L19.6,6.4z'/%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 20 12' style='enable-background:new 0 0 20 12;' xml:space='preserve'%3E%3Cpath d='M19.6,6.4L13,11.9c-0.2,0.2-0.6,0.2-0.7-0.1c-0.2-0.2-0.2-0.5,0.1-0.7l5.5-4.6h-17C0.5,6.5,0.2,6.3,0.2,6 c0-0.3,0.2-0.5,0.5-0.5h17l-5.5-4.6c-0.2-0.2-0.2-0.5-0.1-0.7C12.3,0.1,12.5,0,12.6,0c0.1,0,0.2,0,0.3,0.1l6.6,5.5 c0.1,0.1,0.2,0.2,0.2,0.4C19.8,6.2,19.7,6.3,19.6,6.4L19.6,6.4z'/%3E%3C/svg%3E%0A");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: var(--wdtPrimaryColor);
    width: 20px;
    height: 12px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.entry-post-navigation.type3>div.post-next-link>.nav-title-wrap p>a:after {
    content: '';
    margin-left: 0.8em;
    display: inline-block;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 20 12' style='enable-background:new 0 0 20 12;' xml:space='preserve'%3E%3Cpath d='M19.6,6.4L13,11.9c-0.2,0.2-0.6,0.2-0.7-0.1c-0.2-0.2-0.2-0.5,0.1-0.7l5.5-4.6h-17C0.5,6.5,0.2,6.3,0.2,6 c0-0.3,0.2-0.5,0.5-0.5h17l-5.5-4.6c-0.2-0.2-0.2-0.5-0.1-0.7C12.3,0.1,12.5,0,12.6,0c0.1,0,0.2,0,0.3,0.1l6.6,5.5 c0.1,0.1,0.2,0.2,0.2,0.4C19.8,6.2,19.7,6.3,19.6,6.4L19.6,6.4z'/%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 20 12' style='enable-background:new 0 0 20 12;' xml:space='preserve'%3E%3Cpath d='M19.6,6.4L13,11.9c-0.2,0.2-0.6,0.2-0.7-0.1c-0.2-0.2-0.2-0.5,0.1-0.7l5.5-4.6h-17C0.5,6.5,0.2,6.3,0.2,6 c0-0.3,0.2-0.5,0.5-0.5h17l-5.5-4.6c-0.2-0.2-0.2-0.5-0.1-0.7C12.3,0.1,12.5,0,12.6,0c0.1,0,0.2,0,0.3,0.1l6.6,5.5 c0.1,0.1,0.2,0.2,0.2,0.4C19.8,6.2,19.7,6.3,19.6,6.4L19.6,6.4z'/%3E%3C/svg%3E%0A");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: var(--wdtPrimaryColor);
    width: 20px;
    height: 12px;
}

@media screen and (min-width: 768px){
	.blog-single-entry .entry-post-navigation > .post-prev-link:has(a[class*="-bgimg"]) { padding-left: 200px; }
	.blog-single-entry .entry-post-navigation > .post-next-link:has(a[class*="-bgimg"]) { padding-right: 200px; }
}

@media only screen and (max-width: 1540px) { 
    
    .entry-post-navigation-wrapper > .entry-post-navigation:is(.type2, .type3) { margin-top: 90px; margin-bottom: 90px; }
}

@media only screen and (max-width: 1280px) {

    .entry-post-navigation-wrapper > .entry-post-navigation[class*="type"] > div > .nav-title-wrap > p ~ h3 { margin: 10px 0 0 0; }
    .entry-post-navigation-wrapper > .entry-post-navigation:is(.type2, .type3) { margin-top: 80px; margin-bottom: 80px; }

    /* Navigation - Type II */
    .blog-single-entry .entry-post-navigation.type2 > div *[class*="-bgimg"] ~ .nav-title-wrap { width: 100%; }
}

@media only screen and (max-width: 1024px) { 
    
    .entry-post-navigation-wrapper > .entry-post-navigation:is(.type2, .type3) { margin-top: 70px; margin-bottom: 70px; }

    /* Navigation - Type III */
    .entry-post-navigation-wrapper > .entry-post-navigation.type3 > div { padding: 14px; }
    .entry-post-navigation-wrapper > .entry-post-navigation.type3 > .post-prev-link > .prev-post-bgimg, 
    .entry-post-navigation-wrapper > .entry-post-navigation.type3 > .post-next-link > .next-post-bgimg { height: 90px; width: 90px; }

    .entry-post-navigation-wrapper > .entry-post-navigation.type3 > .post-prev-link { padding-left: 104px; }
    .entry-post-navigation-wrapper > .entry-post-navigation.type3 > .post-next-link { padding-right: 104px; }
}

@media only screen and (max-width: 767px) {

    .entry-post-navigation-wrapper > .entry-post-navigation:is(.type2, .type3) { margin-top: 60px; margin-bottom: 60px; }

    /* Navigation - Type II */
    .entry-post-navigation-wrapper > .entry-post-navigation.type2 > div > .nav-title-wrap > p ~ h3 { margin: 16px 0 0 0; }
    .entry-post-navigation-wrapper > .entry-post-navigation.type2 > div { padding: 10px 0; }
    .entry-post-navigation-wrapper > .entry-post-navigation.type2 > .post-prev-link { border-right: 1px solid; padding-right: 10px; }
    .entry-post-navigation-wrapper > .entry-post-navigation.type2 > .post-next-link { padding-left: 10px; }

    /* Navigation - Type III */
    .entry-post-navigation-wrapper > .entry-post-navigation.type3 > .post-prev-link > .prev-post-bgimg, 
    .entry-post-navigation-wrapper > .entry-post-navigation.type3 > .post-next-link > .next-post-bgimg { display: none; }
    
    .entry-post-navigation-wrapper > .entry-post-navigation.type3 > div { padding: 10px; }
    .entry-post-navigation-wrapper > .entry-post-navigation.type3 > .post-prev-link { padding-left: 10px; }
    .entry-post-navigation-wrapper > .entry-post-navigation.type3 > .post-next-link { padding-right: 10px; }
    .entry-post-navigation.type3 > div { text-align: center !important; }
    .blog-single-entry .entry-post-navigation > .post-next-link,
    .blog-single-entry .entry-post-navigation > .post-next-link { justify-content: center; }
}

@media only screen and (max-width: 479px) {

    .entry-post-navigation-wrapper > .entry-post-navigation:is(.type2, .type3) { margin-top: 50px; margin-bottom: 50px; }

    .entry-post-navigation-wrapper > .entry-post-navigation:is(.type2, .type3) > div > .nav-title-wrap > p ~ h3 { margin: 12px 0 0 0; }
    .entry-post-navigation-wrapper > .entry-post-navigation:is(.type2, .type3) > div { padding: 0px 0; }
    .entry-post-navigation-wrapper > .entry-post-navigation:is(.type2, .type3) > .post-prev-link { 
    border-right: none; padding-right: 0px; padding-left: 0px; padding-bottom: 20px; }
    .entry-post-navigation-wrapper > .entry-post-navigation:is(.type2, .type3) > .post-next-link { 
    padding-left: 0px; padding-right: 0px; padding-top: 20px; border-color: var(--wdtBorderColor); }

}



/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

   @media only screen and (max-width: 1280px) {
	.blog-single-entry .entry-post-navigation > div {padding: 20px;}
	.blog-single-entry .entry-post-navigation > div *[class*="-bgimg"] ~ .nav-title-wrap {width: calc(100% - 20px);}

	.blog-single-entry.post-minimal .entry-post-navigation:not(.type3) > .post-prev-link > .prev-post-bgimg { right: -20px; }
	.blog-single-entry.post-minimal .entry-post-navigation:not(.type3) > .post-next-link > .next-post-bgimg { left: -20px; }
	.page-with-sidebar .blog-single-entry .entry-post-navigation{
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}
}
	
	@media screen and (max-width: 1024px){
		.blog-single-entry .entry-post-navigation{
			grid-template-columns: repeat(1, 1fr);
			gap: 20px;
		}
	}

	@media only screen and (max-width: 767px){

		.blog-single-entry .entry-post-navigation { margin: 0 !important; }
		.blog-single-entry .entry-post-navigation > div { padding: 20px; }
		.blog-single-entry .entry-post-navigation > div *[class*="-bgimg"] { display: none; }
		.blog-single-entry .entry-post-navigation.type3 > div [class*="-bgimg"] ~ .nav-title-wrap {width: calc(100% - 20px);}

		.wdt-related-carousel div[class*="carousel-"] > div { width: 35px; height: 35px; line-height: 35px; }
		.wdt-related-carousel div[class*="carousel-"] > div i[class*="fa"],
		.wdt-related-carousel div[class*="carousel-"] > div i.pe { line-height: 35px; font-size: 18px; }

		.blog-single-entry.post-minimal .entry-post-navigation > div > .nav-title-wrap p,
		.blog-single-entry.post-minimal .entry-post-navigation > div > .nav-title-wrap h3  {font-size: calc(var(--wdtFontSize_Base) - 2px);}
		.blog-single-entry div[class^="entry-"] div[class^="single-entry-tags"] { justify-content: center; }
		.blog-single-entry .elementor-widget-wdt-post-tags div[class^="entry-"] div[class^="single-entry-tags"] > a { margin: 0 5px 10px !important; }
		.blog-single-entry .entry-post-navigation > .post-prev-link { justify-content: center; }
	}

	/*----*****---- << Mobile - Portrait >> ----*****----*/
	@media only screen and (max-width: 479px){
		.blog-single-entry .entry-post-navigation { grid-template-columns: 1fr; }	
		.blog-single-entry .entry-post-navigation > div > .nav-title-wrap h3:not(.no-post h3) {display: none;}

		.blog-single-entry .entry-post-navigation > .post-prev-link,
		.blog-single-entry .entry-post-navigation > .post-next-link { justify-content: center; text-align: center; }
		.entry-post-navigation.type3 > .post-next-link,
		.entry-post-navigation.type3 > .post-prev-link { padding: 15px; }
		.blog-single-entry .entry-post-navigation { gap: 15px; }

	}


	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 320px) and (max-width: 479px) {

		.blog-single-entry .single-entry-body tbody th a{ font-size:calc(var(--wdtFontSize_Base) - 3px);}

	}