

/*--------------------------------------------------------------
	Sidebar Widget Area
--------------------------------------------------------------*/

    #secondary.secondary-sidebar { margin-bottom: 150px; }
    .secondary-sidebar .widget:last-child { margin-bottom: 0px; }

    .secondary-sidebar .widgettitle { display: inline-block; float: none; margin-top: 0; }
    .secondary-sidebar .widgettitle:before,
    .secondary-sidebar .widgettitle:after,
    .secondary-sidebar .widget_block > h2:before,
    .secondary-sidebar .widget_block > h2:after, 
    .secondary-sidebar .widget .wp-block-search__label:before,
    .secondary-sidebar .widget .wp-block-search__label:after, 
    .secondary-sidebar .widget_block .wp-block-group .wp-block-group__inner-container > h2:before,
    .secondary-sidebar .widget_block .wp-block-group .wp-block-group__inner-container > h2:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        left: -10px;
        right: -275px;
        background: var(--wdtBorderColor);
        margin-left: 10px;
    }
    .secondary-sidebar .widgettitle:after,
    .secondary-sidebar .widget_block > h2:after,
    .secondary-sidebar .widget .wp-block-search__label:after,
    .secondary-sidebar .widget_block .wp-block-group .wp-block-group__inner-container > h2:after{
        background: var(--wdtPrimaryColor);
        width: 100%;
        box-shadow: 6px 0px 10px 1px var(--wdtPrimaryColor);
        -webkit-box-shadow: 6px 0px 10px 1px var(--wdtPrimaryColor);
    }
    .secondary-sidebar .widgettitle:empty { display:none; }
    .secondary-sidebar .widgettitle > a { color: currentColor; }

    .secondary-sidebar > div[class^="type"] { overflow:hidden; }


/*--------------------------------------------------------------
	Colors
--------------------------------------------------------------*/

    .secondary-sidebar .widgettitle,
    .secondary-sidebar .widget ul li > a, .secondary-sidebar .tagcloud a { color: var(--wdtHeadAltColor); }
    .secondary-sidebar .widgettitle a { color: inherit; }

    .secondary-sidebar .tagcloud a:hover { color:var(--wdtAccentTxtColor); }


/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

    /* Primary Color */
    .secondary-sidebar .widget ul li > a:hover { color: var(--wdtPrimaryColor); }


/*--------------------------------------------------------------
	Responsive
--------------------------------------------------------------*/

    @media only screen and (min-width:1281px) and (max-width:1540px) {

        .secondary-sidebar .widget #wp-calendar th { font-size: 14px; }
        .secondary-sidebar .widget #wp-calendar td { font-size: 14px; }

    }


    @media only screen and (min-width:1025px) and (max-width:1280px) {


        .secondary-sidebar .widget #wp-calendar td { font-size: 12px; }
        .secondary-sidebar .widget #wp-calendar th { font-size: 12px; }

        /* .secondary-sidebar .widget_tag_cloud .tagcloud a, .secondary-sidebar .widget .tagcloud a { font-size: 13px !important; padding: 5px 12px; } */

        #select2-archives-dropdown--1-results, #select2-cat-results { font-size: 13px; }

    }


	@media only screen and (max-width: 767px) {

		.secondary-sidebar .widget #wp-calendar th, .secondary-sidebar .widget #wp-calendar td { font-size: 14px; }

	}

    /*--------------------------------------------------------------
        Sidebar - Default-Value
    --------------------------------------------------------------*/

        @media only screen and (min-width:1281px) and (max-width:1540px) { #secondary.secondary-sidebar { margin-bottom: 120px; } }
        @media only screen and (min-width:1025px) and (max-width:1280px) { #secondary.secondary-sidebar { margin-bottom: 100px; } }
        @media only screen and (min-width:768px) and (max-width:1024px) { #secondary.secondary-sidebar { margin-bottom: 80px; } }
        @media only screen and (min-width:480px) and (max-width:767px) { #secondary.secondary-sidebar { margin-bottom: 70px; } }
        @media only screen and (max-width: 479px) { #secondary.secondary-sidebar { margin-bottom: 60px; } }