/***<<--- Accordion & Toggle Transition --->>***/

.wdt-accordion-toggle-holder,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    -webkit-transition: var(--wdt-elementor-base-transition);
    transition: var(--wdt-elementor-base-transition);
}

.wdt-accordion-toggle-holder {
    overflow: hidden;

    width: 100%;
    margin: 0 auto;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper:not(:last-child) {
    margin-bottom: 20px;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder {
    font-size: 1em;
    line-height: 1;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 0 auto;
    padding: 1em 1.5em;

    cursor: pointer;

    border-width: 1px;
    border-style: solid;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title {
    display: flex;
    align-items: baseline;
    font-family: var(--wdtFontTypo_H1);
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title div[class*='-title-prefix'] {
    line-height: 1;

    position: relative;

    margin: 0 10px 0 0;
    padding: 0 5px 0 0;
    min-width: 25px;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title div[class*='-title-prefix']:not(.icon):before {
    position: absolute;
    right: 0;
    bottom: 2px;

    width: 3px;
    height: 3px;

    content: '';

    background: currentColor;
}

.wdt-accordion-toggle-holder[class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder {
    flex-direction: row-reverse;
    justify-content: start;
}

.wdt-accordion-toggle-holder[class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    margin: 0 15px 0 0;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    line-height: 1;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-description {
    padding: 1.5em 2em;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    width: 100%;
    font-family: var(--wdtFontTypo_Base);
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    position: relative;

    display: flex;
    flex-shrink: 0;

    width: 1em;
    height: 1em;

    margin-left: 15px;
    color: currentColor;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon>div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon [class*='-toggle-icon-expand'] {
    opacity: 0;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon [class*='-toggle-icon-expand'] {
    opacity: 1;
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon [class*='-toggle-icon-collapse'] {
    opacity: 1;
}
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon { color: var(--wdtPrimaryColor); }
#footer .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon { color: currentColor; }
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon [class*='-toggle-icon-collapse'] {
    opacity: 0;
}

/* Template Bordered */

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper {
    margin-bottom: 0;
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder {
    border-width: 2px;
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper:not(:last-child) .wdt-accordion-toggle-title-holder {
    margin-bottom: -2px;
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-description {
    padding: 2.5em 2em;

    border-width: 2px;
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper:last-child .wdt-accordion-toggle-description {
    border-top: 0;
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-wrapper:not(:last-child) .wdt-accordion-toggle-description {
    border-bottom: 0;
}

/* Template Simple */

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-wrapper {
    margin-bottom: 0;
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder {
    padding: 1.2em 3em 1.2em 0;

    border-width: 0 0 1px;
}

.wdt-accordion-toggle-holder[class*='-template-simple'][class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder {
    padding: 1.2em 0 1.2em 3em;
}

.wdt-accordion-toggle-holder[class*='-template-simple'][class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    right: auto;
    left: 0;
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    position: absolute;
    top: 50%;
    right: 0;

    width: 50px;
    height: 50px;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon>div {
    justify-content: center;
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-description {
    padding: 2em 0;

    border-width: 0 0 1px;
}

/* Default Colors */

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder {
    background-color: rgb(var(--wdt-elementor-color-secondary-rgb), .04);
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-description {
    border-color: var(--wdtBorderColor);
}

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-hover,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active {
    color: var(--wdt-elementor-color-white);
    border-color: var(--wdt-elementor-color-primary);
    background-color: var(--wdt-elementor-color-primary);
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-hover,
.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-active {
    border-color: var(--wdtBorderColor);
    background-color: transparent;
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-hover,
.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-title-holder.ui-state-active {
    color: var(--wdt-elementor-color-primary);
}

.wdt-accordion-toggle-holder[class*='-template-bordered'] .wdt-accordion-toggle-description {
    border-left-color: var(--wdt-elementor-color-primary);
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder {
    background-color: transparent;
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder.ui-state-hover,
.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder.ui-state-active {
    color: var(--wdt-elementor-color-primary);
    border-color: var(--wdtBorderColor);
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    background-color: transparent;
}

.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder.ui-state-hover .wdt-accordion-toggle-icon,
.wdt-accordion-toggle-holder[class*='-template-simple'] .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon {
    color: var(--wdt-elementor-color-white);
    background-color: transparent;
}

.wdt-accordion-toggle-holder[class*='-template-classic'] .wdt-accordion-toggle-title-holder {
    color: var(--wdt-elementor-color-white);
    border: none;
    background: var(--wdtQuaternaryColor);
    border-radius: var(--wdtRadius_3X);
    -webkit-border-radius: var(--wdtRadius_3X);
    padding: clamp(1.0625rem, 0.9471rem + 0.5128vw, 1.5625rem) clamp(1.5625rem, 1.3462rem + 0.9615vw, 2.5rem);
}
.wdt-accordion-toggle-holder[class*='-template-classic'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title{
    font-size: var(--wdtFontSize_H5);
    font-weight: var(--wdtFontWeight_H5);
}
.wdt-accordion-toggle-holder[class*='-template-classic'] .wdt-accordion-toggle-description {
    background: none;
    border: none;
    padding: clamp(0.9375rem, 0.7212rem + 0.9615vw, 1.875rem) clamp(0.9375rem, 0.7212rem + 0.9615vw, 1.875rem) calc(clamp(0.9375rem, 0.7212rem + 0.9615vw, 1.875rem) - 20px); /* 15 - 30 */
}
