#vpc-preview, .vpc-cart-config-image, .saved-config-preview
{
    position: relative;
    border: 1px solid #f1f4f9;
}
#vpc-preview img, .vpc-cart-config-image img, .saved-config-preview img
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#vpc-preview img:first-child, .vpc-cart-config-image img:first-child, .saved-config-preview img:first-child
{
    position: relative;
}

.vpc-success, .vpc-failure
{
    color: white;
    padding: 5px;
    text-align: center;
}
.vpc-success
{
    background-color: green;    
}
.vpc-success a
{
    color: greenyellow;
}
.vpc-failure
{
    background-color: red;
}
.vpc-cart-config
{
    border: 1px solid #c8c8c8;
    margin-bottom: 5px;
    padding: 5px;

}
.vpc-cart-config img
{
    /*border: 1px solid #c8c8c8;*/
    margin: 5px;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    /*max-height: 30px;*/
}
.vpc-cart-config-image{
    max-width: 150px;
    margin: 0 auto;
}

.woocommerce .vpc-cart-config-image img{
    width:100% !important;
    max-width: 100%;
    background: none;
}
/*===== CART OPTIONS =====*/

.vpc-cart-options-container {
    width: 100%;
    /*max-width: 300px;
    margin: 12px 0;*/
}

.vpc-cart-options-container > div {
    font-size: 12px;
    line-height: 12px;
}

.vpc-cart-options-container > div > div {
    background-color: #f8f8f8;
    padding: 5px 10px;
    overflow: hidden;
    text-transform: none;
    font-weight: normal;
    border-bottom: 1px solid #e8e8e8;
}

.vpc-cart-options-container > div > div:last-child {
    border-bottom: 0;
}

.vpc-cart-options-container .vpc-cart-component {
    background-color: #e8e8e8;
    color: #888;
    clear: both;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.vpc-cart-options-container .vpc-cart-options {
    line-height: 24px;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.vpc-cart-options-container .vpc-cart-options > div {
    position: relative;
    /*height: 32px;*/
}

.vpc-cart-options-container .vpc-cart-options > div:after {
    content: "";
    width: calc(100% + 20px);
    height: 1px;
    background-color: #e8e8e8;
    position: absolute;
    bottom: -1px;
    left: -10px;
}

.vpc-cart-options-container .vpc-cart-options > div:last-child:after {
    display: none;
}

.vpc-cart-options-container .vpc-cart-options > div > div {
    display: inline-block;
    padding: 5px 10px;
    width: 50%;
    line-height: 22px;
    border-right: 1px solid #e8e8e8;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.vpc-cart-options-container .vpc-cart-options > div > div span {
    display: inline-block;
    vertical-align: middle;
}

.vpc-cart-options-container .vpc-cart-options > div > div:first-child {
    padding-left: 0;
}

.vpc-cart-options-container .vpc-cart-options > div > div:last-child {
    border: 0;
    padding-right: 0;
}

.vpc-cart-options-container .vpc-cart-options > div img {
    max-height: 22px;
    max-width: 22px;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    box-shadow: 0 0px 2px rgba(0,0,0,.25);
}

.vpc-cart-options-container .vpc-cart-options.addon-options > img {
    max-height: 22px;
    display: block;
    margin: 5px 0;
    border-radius: 2px;
    box-shadow: 0 0px 2px rgba(0,0,0,.25);
}


#vpc-ajax-container.vpc-loading{
    min-height:500px;
    position:relative;
}
#vpc-ajax-container.vpc-loading > img{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin:auto;
}
#vpc-preview img
{
    background: none !important;
}
#vpc-missing-configurator-page{
    background: red;
    color: #fff;
    display: inline-block;
    padding: 5px;
}
#vpc-missing-configurator-page a{
    color: #fff !important;
    text-decoration: none !important;
    font-weight: bold;
}

#vpc-add-to-cart{
    font-size: 14px !important;
}
.VPC_Modern_Skin #vpc-preview-wrap,.VPC_Modern_Skin #vpc-components{
    display: inline-block;
}
