

/*--------------------------------------------------------------
	Widgets
--------------------------------------------------------------*/

	/*----*****---- << Transitions >> ----*****----*/

	.widget ul li:before, .widget ul li:hover:before, .widget.widget_archive ul li > a span, .widget.widget_archive ul li > a:hover span, .widget.widget_categories ul li > a span, .widget.widget_categories ul li > a:hover span, .widget .recent-portfolio-widget ul li a:before, .widget .recent-portfolio-widget ul li a:after, .widget.widget_flickr ul li a:before { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }


	/*----*****---- << WP Widget Defaults >> ----*****----*/

	.widget { clear:both; float: left; margin-bottom: clamp(1.25rem, 1.0337rem + 0.9615vw, 2.1875rem); padding: 0; position: relative; width: 100%; 
		-webkit-border-radius: var(--wdtRadius_Zero); border-radius: var(--wdtRadius_Zero); 
		-webkit-box-shadow: 0 0; 
		box-shadow: 0 0; overflow: hidden; }

	.widgettitle, .widget_block > h2, .widget .wp-block-search__label, .widget_block .wp-block-group .wp-block-group__inner-container > h2 { clear:both; display: inline-block; font-size: clamp(1.25rem, 1.1923rem + 0.2564vw, 1.5rem); margin-top: 0; margin-bottom: clamp(1.25rem, 1.1779rem + 0.3205vw, 1.5625rem); padding-bottom: clamp(1.25rem, 1.1779rem + 0.3205vw, 1.5625rem); position: relative; text-transform: capitalize; width: fit-content; }

	/* .widgettitle:before, .widget_block > h2:before, .widget .wp-block-search__label:before, .widget_block .wp-block-group .wp-block-group__inner-container > h2:before { content:""; height:3px; position:absolute; bottom:0; left:0; width:35px; } */

	.widgettitle.aligncenter:before { right: 0; margin: auto;}

	.widgettitle.alignright { margin-left: 0; }
	.widgettitle.alignright:before { right: 0; left: auto; }

	.widget ul, .widget ol { clear:both; float:left; margin:0; padding:0; width:100%; }

	.widget ul li, .widget ol li { clear:both; display:block; margin:0; padding: 0; position:relative; width:100%; }
	.widget .widgettitle + ul > li:first-child, .widget .widgettitle + ol > li:first-child,
	.widget ul li:first-child:not(:only-child), .widget ol li:first-child:not(:only-child) { padding-top:0; }
	.widget ul li:last-child:not(:only-child), .widget ol li:last-child:not(:only-child) { border-bottom-width: 0; padding-bottom: 0; }

	.widget ul li > a, .widget ol li > a { display:inline-block; line-height: var(--wdtLineHeight_Base); width:100%; }
	.widget ul li:last-child:not(:only-child) > a, .widget ol li:last-child:not(:only-child) > a { padding-bottom:0; }


	/* Archives & Categories Widget */
	.widget_categories label, .widget_archive label { color: var(--wdtBodyTxtColor); display:inline-block; font-size:var(--wdtFontSize_Base); font-weight: 600; margin:0 0 10px; width: 100%; }
	.widget.widget_categories ul li > a { position:relative; /*text-transform:capitalize;*/ }
	/* .widget.widget_categories ul li, .widget.widget_archive ul li { text-align-last: justify; } */
	.widget.widget_categories ul li > a, .widget.widget_archive ul li > a { width: auto; }
	.widget.widget_categories ul li > a span, .widget.widget_archive ul li > a span { float: right; padding: 0; }


	/* Nav Menu Widget */
	.widget.widget_nav_menu ul.menu li:first-child { padding-top: 0; }
	.widget.widget_nav_menu ul.menu li > a { display:inline-block; line-height: var(--wdtLineHeight_Base); width:100%;  }

	.widget.widget_nav_menu ul li { padding:0; }
	.widget.widget_nav_menu ul li, .widget.widget_nav_menu ul li:last-child { border-width: 0 !important; }
	.widget.widget_nav_menu ul li a {
		/* border-bottom: 1px solid; */
		padding: 10px 0;
	}
	.widget.widget_nav_menu ul li a:empty { display:none; }
	.widget.widget_nav_menu > div[class*="menu-container"] > ul > li:last-child:not(:only-child) > a { border-bottom-width: 0; padding-bottom: 0; }


	/* RSS Widget */
	.widget_rss h3.widgettitle > a.rsswidget > img { display: none; margin-right:5px; margin-top: -3px; }
	.widget_rss ul li > a.rsswidget { font-weight: var(--wdtFontWeight_Alt); }
	.widget_rss ul li .rssSummary { margin-top: 0.5em; margin-bottom: 0.5em; }
	.widget_rss ul li .rss-date, .widget_rss ul li cite { font-size: 0.8em; }

	/* TagCloud Widget */
	.widget_tag_cloud .tagcloud, .widget .tagcloud { float:left; clear:both; width:100%; margin:0; padding:0; }
	.widget_tag_cloud .tagcloud a,
	.widget .tagcloud a,
	.wp-block-tag-cloud a {
		float: left;
		font-size: var(--wdtFontSize_Ext) !important;
		line-height: normal;
		margin: 0 12px 12px 0;
		padding: 10px 15px;
		border-radius: var(--wdtRadius_Part);
		-webkit-border-radius: var(--wdtRadius_Part);
		-webkit-box-shadow: rgba(var(--wdtAccentTxtColorRgb),.2) 0 0 20px 0;
		box-shadow: rgba(var(--wdtAccentTxtColorRgb),.2) 0 0 20px 0;
		text-transform: capitalize;
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.widget_tag_cloud .tagcloud a:before, .widget .tagcloud a:before, .wp-block-tag-cloud a:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(45deg, var(--wdtPrimaryColor), var(--wdtSecondaryColor));
		z-index: -1;
		opacity: 0;
		transition: var(--wdt-Ad-Transition);
	}
	.widget_tag_cloud .tagcloud a:hover:before, .widget .tagcloud a:hover:before, .wp-block-tag-cloud a:hover:before{
		opacity: 1;
	}

	.wp-block-tag-cloud a { display: inline-block; float: none; }
	.wp-block-tag-cloud a:not(:focus) { text-decoration: none; }


	/* Search Form */
	.widget #searchform { margin-bottom: 0; max-width: 100%; position:relative; width: 100%; }
	.widget #searchform .wdt-search-icon { display: none; }
	.widget #searchform input[type="text"] { padding-right:50px; height:60px; width: 100%; }
	.widget #searchform input[type="submit"] { position:absolute; right:0; top:0; padding: 0; margin:0; height:60px; }

	.widget_block .wp-block-search { margin-bottom: 0; }
	.widget_block .wp-block-search .wp-block-search__inside-wrapper { flex-wrap: wrap; position: relative; }
	.widget_block .wp-block-search__label { color: var(--wdtHeadAltColor); font-family: var(--wdtFontTypo_Alt); font-weight: var(--wdtFontWeight_Alt); line-height: var(--wdtLineHeight_Alt); }
	.widget_block .wp-block-search .wp-block-search__button {
		margin-bottom: 0;
		background-color: var(--wdtPrimaryColor);
		position: absolute;
		top: 2px;
		right: 2px;
		bottom: 2px;
		width: 50px;
		margin: 0;
		padding: 8px;
		text-indent: -9999px;
		z-index: 1;
		-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath d='M48.2,44.4L36.4,32.7c5.9-7.7,5.3-18.8-1.8-25.8C30.8,2.9,25.8,1,20.7,1S10.7,2.9,6.8,6.8c-7.7,7.7-7.7,20.2,0,27.9 c3.9,3.9,8.9,5.8,13.9,5.8c4.2,0,8.4-1.3,11.9-4l11.8,11.7c0.5,0.5,1.2,0.8,1.9,0.8c0.7,0,1.4-0.3,1.9-0.8 C49.3,47.2,49.3,45.5,48.2,44.4z M20.8,35.2c-3.9,0-7.4-1.5-10.2-4.2C5,25.4,5,16.2,10.6,10.6c2.7-2.7,6.3-4.2,10.2-4.2 s7.4,1.5,10.2,4.2s4.2,6.3,4.2,10.2S33.7,28.2,31,31S24.6,35.2,20.8,35.2z'/%3E%3C/svg%3E%0A");
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath d='M48.2,44.4L36.4,32.7c5.9-7.7,5.3-18.8-1.8-25.8C30.8,2.9,25.8,1,20.7,1S10.7,2.9,6.8,6.8c-7.7,7.7-7.7,20.2,0,27.9 c3.9,3.9,8.9,5.8,13.9,5.8c4.2,0,8.4-1.3,11.9-4l11.8,11.7c0.5,0.5,1.2,0.8,1.9,0.8c0.7,0,1.4-0.3,1.9-0.8 C49.3,47.2,49.3,45.5,48.2,44.4z M20.8,35.2c-3.9,0-7.4-1.5-10.2-4.2C5,25.4,5,16.2,10.6,10.6c2.7-2.7,6.3-4.2,10.2-4.2 s7.4,1.5,10.2,4.2s4.2,6.3,4.2,10.2S33.7,28.2,31,31S24.6,35.2,20.8,35.2z'/%3E%3C/svg%3E%0A");
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-position: center;
		-webkit-mask-size: 1.25em auto;
		mask-size: 1.25em auto;
		font-size: 16px;
	}
	.widget_block .wp-block-search .wp-block-search__button:hover {
		background-color: var(--wdtSecondaryColor);
	}

	/* WP-Calendar Widget */
	.widget #wp-calendar { border-collapse: collapse; }
	.widget #wp-calendar caption { font-size: var(--wdtFontSize_Base); font-weight: 600; margin-top: -0.35em; margin-bottom: 10px; }
	.widget #wp-calendar td { padding: 0.5em 0; border-color: var(--wdtBorderColor); }
	.widget #wp-calendar td#next { text-align: right; }
	.widget #wp-calendar td#prev { text-align: left; }

	.widget.widget_calendar .wp-calendar-nav { display: flex; justify-content: space-between; }
	.widget.widget_calendar .wp-calendar-nav span.pad { display: none; }


	/* Block Widgets */
	.widget.widget_block .wp-block-calendar,
	.widget.widget_block .wp-block-archives-dropdown, .widget.widget_block .wp-block-categories-dropdown, 
	.widget.widget_block .wp-block-latest-comments__comment-excerpt > *:last-child { margin-bottom: 0; }

	.widget.widget_block .wp-block-calendar table caption, .widget.widget_block .wp-block-calendar table tbody { color: var(--wdtBodyTxtColor); }

	.widget.widget_block .wp-block-archives-dropdown > label:first-child + select,
	.widget.widget_block .wp-block-archives-dropdown > label:first-child + select + .select2-container, 
	.widget.widget_block .wp-block-categories-dropdown > label:first-child + select,
	.widget.widget_block .wp-block-categories-dropdown > label:first-child + select + .select2-container { margin-bottom: 0; }

	.widget.widget_block .wp-block-archives-dropdown label:not(.screen-reader-text), 
	.widget.widget_block .wp-block-categories-dropdown label:not(.screen-reader-text) { margin-top: -0.35em; vertical-align: top; }

	/* .widget.widget_block .wp-block-latest-posts.wp-block-latest-posts__list .wp-block-latest-posts__post-excerpt, 
    .widget.widget_block .wp-block-latest-comments li.wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt { font-size: 0.9em; line-height: var(--wdtLineHeight_Base); } */

	.widget.widget_block .wp-block-latest-posts.wp-block-latest-posts__list li:last-child .wp-block-latest-posts__post-excerpt { margin-bottom: 0; }
	.widget.widget_block .wp-block-latest-posts.wp-block-latest-posts__list .wp-block-latest-posts__post-excerpt { margin-top: 0.5em; margin-bottom: 0.5em; }

	.widget.widget_block .wp-block-loginout form > p.login-remember label { display: inline-flex; vertical-align: top; align-items: center; }
	.widget.widget_block .wp-block-loginout form > p.login-remember label input#rememberme { margin-right: 8px; }
	.widget.widget_block .wp-block-loginout form > p:last-child { margin-bottom: 0; }

	.widget.widget_block .wp-block-social-links li.wp-social-link { float: none; width: auto; padding: 0; }
	.widget.widget_block .wp-block-social-links li.wp-social-link a { display: inherit; line-height: 0; padding: .25em; }
	.widget.widget_block input[type="submit"]:hover{
		background-color: var(--wdtBodyBGColor);
		border-color: var(--wdtHeadAltColor);
		color: var(--wdtHeadAltColor);
	}
	
	


/*----*****---- << Common & Custom Widget Styles >> ----*****----*/

	/* Common Styles */

	.widget.widget_archive ul ul li:last-child, .widget.widget_categories ul ul li:last-child, .widget.widget_meta ul ul li:last-child, .widget.widget_nav_menu ul.menu ul li:last-child, .widget.widget_pages ul ul li:last-child { border-bottom-width: 1px; }

	.widget.widget_nav_menu ul li ul.sub-menu, .widget.widget_pages ul li ul.children, .widget.widget_block .wp-block-page-list li ul.submenu-container { padding-left: 5%; width:100%;  }

	.widget.widget_archive ul li ul, .widget.widget_categories ul li ul,
	.widget.widget_nav_menu ul.menu li ul, .widget.widget_pages ul li ul,
	.widget.widget_block .wp-block-page-list li ul.submenu-container { padding-left: 5%; padding-top: 0; }

	.widget.widget_archive ul li, .widget.widget_categories ul li,
	.widget.widget_nav_menu ul.menu li, .widget.widget_pages ul li,
	.widget.widget_meta ul li, .widget.widget_text ul li,
	.widget.widget_block .wp-block-page-list li { padding: 0; }

	.widget.widget_archive ul li > a, .widget.widget_categories ul li > a,
	.widget.widget_nav_menu ul.menu li > a, .widget.widget_pages ul li > a,
	.widget.widget_meta ul li > a, .widget.widget_text ul li > a,
	.widget.widget_block .wp-block-page-list li > a { padding: 10px 0; }

	.widget.widget_archive ul li:first-child > a, .widget.widget_categories ul li:first-child > a,

	.widget.widget_pages ul li:first-child > a, .widget.widget_nav_menu ul.menu li:first-child > a,
	.widget.widget_meta ul li:first-child > a, .widget.widget_text ul li:first-child > a,
	.widget.widget_block .wp-block-page-list li:first-child > a { padding-top: 0; }

	.widget.widget_archive ul ul.children li > a, .widget.widget_archive ul ul.children li:first-child > a,
	.widget.widget_categories ul ul.children li > a, .widget.widget_categories ul ul.children li:first-child > a,
	.widget.widget_nav_menu ul ul.children li > a, .widget.widget_nav_menu ul ul.children li:first-child > a,
	.widget.widget_nav_menu ul ul.sub-menu li > a, .widget.widget_nav_menu ul ul.sub-menu li:first-child > a,
	.widget.widget_pages ul ul.children li > a, .widget.widget_pages ul ul.children li:first-child > a,
	.widget.widget_block .wp-block-page-list li ul.submenu-container li > a,
	.widget.widget_block .wp-block-page-list li ul.submenu-container li:first-child > a { padding-top: 10px; }

	.widget.widget_archive ul ul.children li > a, .widget.widget_archive ul ul.children li:last-child > a,
	.widget.widget_categories ul ul.children li > a, .widget.widget_categories ul ul.children li:last-child > a,
	.widget.widget_nav_menu ul ul.children li > a, .widget.widget_nav_menu ul ul.children li:last-child > a,
	.widget.widget_nav_menu ul ul.sub-menu li > a, .widget.widget_nav_menu ul ul.sub-menu li:last-child > a,
	.widget.widget_pages ul ul.children li > a, .widget.widget_pages ul ul.children li:last-child > a,
	.widget.widget_block .wp-block-page-list li ul.submenu-container li > a,
	.widget.widget_block .wp-block-page-list li ul.submenu-container li:last-child > a { padding-bottom: 10px; }

	.widget.widget_block .wp-block-page-list li ul.submenu-container li:last-child { border-bottom-width: 1px; }
	

	.widget .recent-posts-widget li:before, .widget .recent-posts-widget li:hover:before,
	.widget .recent-portfolio-widget ul li:before, .widget .recent-portfolio-widget ul li:hover:before { content:""; }

	.widget.widget_media_video .mejs-layers .mejs-overlay-button { background-color: transparent; }

	.widget_recent_entries ul li > a { width: auto; }
	.widget.widget_recent_posts .recent-posts-widget .entry-title h4 a[href*="title-should-not-overflow-the-content-area"] { word-break: break-all; }
	.widget.widget_recent_posts .recent-posts-widget .entry-title h4 { font-size: clamp(1.125rem, 1.0962rem + 0.1282vw, 1.25rem); }

	/* .widget.widget_recent_posts .recent-posts-widget ul li:first-child .entry-image { top: 6px; }
	.widget.widget_recent_posts .recent-posts-widget .entry-image { position: absolute; max-width: 65px; top: 18px; }
	.widget.widget_recent_posts .recent-posts-widget .entry-image ~ *[class*="entry-"] { padding-left: 80px; }
	.widget.widget_recent_posts .recent-posts-widget .entry-image ~ *[class*="entry-"] h4 { margin-top: 10px; } */

	.widget_recent_comments ul li.recentcomments > a { font-family: var(--wdtFontTypo_Alt); font-weight: 600; line-height: var(--wdtLineHeight_Alt); }
	.widget_recent_comments ul li.recentcomments .comment-author-link a { font-weight: 500; }

	.widget_text form .selection-box + br:last-child { display: none; }
	.widget > p:last-child, .widget > p:only-child,
	.widget .plugin-description > p:last-child, .widget .plugin-description > p:only-child { margin-bottom: 0; }

	.widget .select2-container { margin-bottom: 5px; }

	.widget:not(.widget_text) a:not(:focus) { text-decoration: none; }


	/* Additional_Unit_test */

	.widget.widget_archive ul li ul, .widget.widget_categories ul li ul, 
	.widget.widget_nav_menu ul.menu li ul, .widget.widget_pages ul li ul, 
	.widget.widget_block .wp-block-page-list li ul{
		padding-left: 5%;
		padding-top: 0;
	}
	ul.wp-block-rss.wp-block-rss li:not(:last-child),
	.wp-block-latest-posts.wp-block-latest-posts__list li:not(:last-child){
		margin-bottom: 20px;
	}
	.wp-block-latest-posts.wp-block-latest-posts__list li .wp-block-latest-posts__post-title{
		text-transform: capitalize;
	}
	ol.wp-block-latest-comments li { margin-bottom: 15px; }
	.widget .wp-block-loginout form p > label { margin-bottom: 10px; display: block; }
	.wp-block-calendar th { border-color: var(--wdtBorderColor) !important; }
	.widget.widget_recent_comments ul li.recentcomments:not(:last-child),
	.widget.widget_recent_entries ul li:not(:last-child){
		margin-bottom: 20px;
	}
	.widget.widget_text .textwidget p img{
		margin: 10px 0;
	}
	body .wp-block-calendar table:where(:not(.has-text-color)) td, 
	body .wp-block-calendar table:where(:not(.has-text-color)) th{
		border-color: var(--wdtBorderColor);
	}
	.wp-block-post-comments-form{
		margin-top: 30px;
	}
	.widget.widget_archive select option{
		color: var(--wdtAccentTxtColor);
	}

/*--------------------------------------------------------------
	Colors
--------------------------------------------------------------*/

	.widget ul li, .widget ol li, .widget.widget_nav_menu ul.menu li, .widget.widget_nav_menu ul li a { border-color: rgba(var(--wdtHeadAltColorRgb),0.05); }

	.widget #wp-calendar td a { color:rgba(var(--wdtHeadAltColorRgb),0.5); }
	.widget_tag_cloud .tagcloud a, .widget .tagcloud a, .wp-block-tag-cloud a { background: var(--wdtQuaternaryColor); }

	.wdt-dark-bg .widget input[type="text"], .wdt-dark-bg .widget input[type="password"], .wdt-dark-bg .widget input[type="email"], .wdt-dark-bg .widget input[type="url"], .wdt-dark-bg .widget input[type="tel"], .wdt-dark-bg .widget input[type="number"], .wdt-dark-bg .widget input[type="range"], .wdt-dark-bg .widget input[type="date"], .wdt-dark-bg .widget textarea, .wdt-dark-bg .widget input[type="search"], .wdt-dark-bg .widget select, .wdt-dark-bg .widget.widget_categories ul li > a span, .wdt-dark-bg .widget.widget_archive ul li > a span { background:rgba(var(--wdtBodyBGColorRgb),0.15); }

	.wdt-dark-bg .widget .selection-box:before { border-top-color:rgba(var(--wdtBodyBGColorRgb),0.15); }
	.wdt-dark-bg .widget .selection-box:after { background:rgba(var(--wdtBodyBGColorRgb),0.05); }

	.wdt-dark-bg .widget ul li, .wdt-dark-bg .widget.widget_nav_menu ul.menu li { border-color:rgba(var(--wdtBodyBGColorRgb),0.2); }

	.wdt-dark-bg .widget #wp-calendar td a { color:rgba(var(--wdtAccentTxtColorRgb),0.5); }
	.wdt-dark-bg .tagcloud a { background:rgba(var(--wdtBodyBGColorRgb),0.15); }

	.tagcloud a:hover, .wp-block-tag-cloud a:hover, #footer .wdt-dark-bg .tagcloud a:hover, #footer .tagcloud a:hover { color: var(--wdtAccentTxtColor) !important; }

	.widget #searchform:hover:before { color: var(--wdtAccentTxtColor); }

	/* Additional */
	.widget .gallery-item img { border: none; }

/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

    /* Primary Color */
	.widget ul li > a:hover, .widget .recent-posts-widget li .entry-meta p span, .widget #wp-calendar td a:hover,

	.wdt-dark-bg .widget #wp-calendar td a:hover { color: var(--wdtPrimaryColor); }

	.widgettitle:before, .widget_block > h2:before, .widget .wp-block-search__label:before, .widget_block .wp-block-group .wp-block-group__inner-container > h2:before, .tagcloud a:hover, .wp-block-tag-cloud a:hover, 

	.wdt-dark-bg .widget.widget_categories ul li > a:hover span, #footer .wdt-dark-bg .widget.widget_categories ul li > a:hover span, #footer .wdt-dark-bg .widget.widget_archive ul li > a:hover span, .wdt-dark-bg .tagcloud a:hover { background-color: transparent; }


	.tagcloud a:hover, .wp-block-tag-cloud a:hover, .wdt-dark-bg .tagcloud a:hover { background: var(--wdtPrimaryColor); }

	/* Additional */

	.woocommerce.widget_product_categories .product-categories li a:before{
		content: "";
		position: relative;
		display: inline-block;
		width: 17px;
		height: 17px;
		margin-right: 11px;
		outline: currentColor solid;
		outline-width: 1px;
		outline-offset: 0px;
		box-shadow: inset var(--wdtPrimaryColor) 0px 0px 0 0px;
		border: 5px solid transparent;
		transition: var(--wdt-Ad-Transition);
		-webkit-transition: var(--wdt-Ad-Transition);
		left: 1px;
	}
	.woocommerce.widget_product_categories .product-categories li a:focus:before{
		box-shadow: inset var(--wdtPrimaryColor) 0px 0px 0 10px;
	}
	.woocommerce.widget_product_categories .product-categories li a {
		display: inline-flex;
		font-size: var(--wdtFontSize_Base);
		align-items: center;
		font-family: var(--wdtFontTypo_Base);
		width: auto;
		color: var(--wdtBodyTxtColor);
  }


/*--------------------------------------------------------------
	Responsive
--------------------------------------------------------------*/


	@media only screen and (min-width:1025px) and (max-width:1280px) {

		.tagcloud a { margin:0 4px 10px 0; }
		.widget #searchform input[type="submit"] { padding: 0 }

	}

	@media only screen and (min-width:768px) and (max-width:1024px) {

		.widgettitle { font-size:20px; }

		.tagcloud a { margin:0 4px 10px 0; }

	}


	@media only screen and (max-width: 767px) {

		.tagcloud a { margin:0 5px 10px 0; }

	}