/* Start Woolisting Product Listing Custom Global Css */
.woolist-line-price {
    font-size: 16px;
    text-decoration: line-through;
    font-weight: 600;
    color: #7978787a;
}
.woolist-price-wrapper {
    display: flex;
    align-items: center;
}
.woolist-product-img img{
    width: 100%;
}
/* .woolist-product-img-1 img,
.woolist-product-img-2 img,
.woolisting-product-slider .woolist-product-img-2 a,
.woolisting-product-slider .woolist-product-img-3 img,
.woolist-product-img-3 img,
.woolist-product-img-4 img,
.woolist-design-5 .woolist-product-img img,
.woolist-design-6 .woolist-product,
.woolist-design-7 .woolist-product-img,
.woolist-design-8 .woolist-product-img img,
.woolist-design-9 .woolist-product-img img,
.woolist-design-10 .woolist-product-img img,
.woolist-design-11 .woolist-product {
    width: 100%;
    height: 350px;
} */
/* End Woolisting Product Listing Custom Global Css */

/* Start Woolisting CSS Style-1  */
.woolist-container.elementor-grid{
    gap: 30px;
}
.woolist-product-1{
    padding: 10px;
    box-shadow: 2px 2px 10px 7px rgb(233 233 233 / 25%), -5px 5px 10px 7px rgb(183 183 183 / 22%);
    border-radius: 20px;
    width: 100%;
    margin: 16px;
}
.woolist-product-1 .woolist-img {
    display: flex;
}
.woolist-product-img-1 img{
    width: 100%;
}
.woolist-content-1{
    padding: 10px;
}
.woolist-show-name{
    color: #457dc3;
}
.woolist-show-name a{
    font-weight: bold;
    margin-top: 10px;
    font-size: 24px;
    color: #457dc3;
}
.woolist-design-1 .woolist-show-description{
    color: rgb(70, 70, 70);
    font-size: 14px;
}
.woolist-rate-price-wrapper{
    display: flex;
    justify-content: space-between;
}
.woolist-price-wrapper{
    display: flex;
}
.woolist-design-1 .woolist-regular-price{
    color: #7978787a;
    font-weight: 500;
    padding: 5px;
    font-size: 20px;
}
.woolist-sale-price{
    color: rgb(7, 7, 7);
    font-weight: 500;
    padding: 5px;
    font-size: 22px;
}
.woolist-customer-rate-1{
    color: #ffbd17;
    display: flex;
    align-items: center;
}
.woolist-design-1 .woolist-product-1 span.woolist-label-out-of-stock,
.woolist-label-1{
    background-color: #457dc3;
    color: white;
    padding: 0px 5px 0px 5px;
    position: absolute;
    top:30px;
    right: 0px;    
}
.woolist-product-1 .woolist-out-of-stock-label,
.woolist-product-1 .woolist-ribbon{
    position: relative;
}
.woolist-design-1 .woolist-button a{
    background-color: #457dc3;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px 8px 15px;  
    margin-top: 15px;
    transition: all .3s ease;
    border: 1px solid #457dc3;
    border-radius: 5px;
}
.woolist-design-1 .woolist-button a:hover{
    background-color: transparent;
    color: #457dc3;
    border: 1px solid #457dc3;
}
.woolist-design-1 .woolist-button-wrapper{
    margin-top: 15px;
}
/* End Woolisting CSS Style-1  */

/* Start Woolisting CSS Style-2  */
.woolist-product-2{
    position: relative;
    display: flex !important;
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 2px 23px -5px rgba(0,0,0,0.5);
    padding: 20px;
    justify-content: center;
    margin-left: 20px;
    border-radius: 10px;
}
.woolist-product-img-2 a {
    margin-left: -40px;
    background-color: #dfdfdf;
    border-radius: 10px;
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.woolist-img img {
    display: block;
}
.woolist-price-wrapper-2{
    display: flex;
}
.woolist-ribbon-1{
    position: absolute;
    right: 15px;
    top: 15px;
}
.woolist-product-2 span.woolist-label-out-of-stock {
    position: absolute;
    right: 14px;
    padding: 2px 5px 2px 5px;
    background-color: #dfdfdf;
    color: rgb(1, 1, 1);
    border-radius: 4px;
}
.woolist-label-2{
    padding: 2px 5px 2px 5px;
    background-color: #dfdfdf;
    color: rgb(1, 1, 1);
    border-radius: 4px;
}
.woolist-title-1 a{
    color: black;
    font-size: 22px;
}
.woolist-image-wrapper {
    display: flex;
    align-items: center;
}
.woolist-content-wrapper{
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 95%;
    padding-left: 25px;
}
.woolist-regular-price-2 {
    font-size: 16px;
    font-weight: 600;
    color: #0404047a;
}
.woolist-rating-1 i{
    font-size: 15px;
    letter-spacing: -4px;
    color: #ffbd17;
}
.woolist-sale-price-2{
    margin-left: 10px;
    color: black;
}
.woolist-show-description-2{
    font-size: 15px;
    color: rgb(113, 113, 113);
    margin-top: 5px;
}
.woolist-button-wrapper-2{
    margin-top: 20px;
}
.woolist-button-2 a {
    background-color: #dfdfdf;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 700;
    transition: all .3s ease;
}
.woolist-button-2 a:hover {
    background-color: black;
    color: #dfdfdf;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
}
/* End Woolisting CSS Style-2  */

/* Start Woolisting CSS Style-3  */
.woolist-product-3{
    display: flex !important;
    margin: 5px;
    background-color: rgb(255, 234, 208);
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}
.woolist-image-wrapper-3{
    display: flex;
    width: 50%;
}
.woolist-product-img-3 {
    padding: 10px;
    width: 100%;
    display: flex !important;
    justify-items: center;
    align-items: center;
}
.woolist-product-img-3 a{
    overflow: hidden;
}
.woolist-product-img-3 img{
    transform: scale(1);
    transition: all .4s;
}
.woolist-product-3:hover .woolist-product-img-3 img{
    transform: scale(1.2);
}
.woolist-button-3 a {
    background-color:#8a4242;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 700;
    transition: all .3s ease;
    border:1px solid #8a4242;
}
.woolist-button-3 a:hover {
    background-color: rgb(255, 255, 255);
    color: #8a4242;
}
.woolist-content-wrapper-3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.woolist-title-3{
    margin: 0;
}
.woolist-title-3  a{
    color: #8a4242;
    font-size: 25px;
}
.woolist-label-3 {
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 10px;
    max-width: 5em;
    color: #fff;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 1;
    font-size: large;
}
.woolist-product-3 .woolist-label-out-of-stock {
    position: absolute;
    display: inline-block;
    top: 22px;
    right: -12px;
    max-width: 6em;
    color: #fff;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 1;
    font-size: 15px;
}
.woolist-label-3::after {
    position: absolute;
    top: -1.5em;
    right: -6em;
    content: "";
    height: 63px;
    width: 225px;
    background-color: #8a4242;
    z-index: -1;
}
.woolist-product-3 .woolist-label-out-of-stock::after {
    position: absolute;
    top: -2.5em;
    right: -2em;
    content: "";
    height: 71px;
    width: 228px;
    background-color: #8a4242;
    z-index: -1;
}
/* End Woolisting CSS Style-3  */

/* Start Woolisting slider style-3 css */
.woolisting-product-slider.woolist-product-img-3 {
    padding: 10px;
    width: 120px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.woolisting-product-slider .woolist-product-img-3 img{
    width: 250px;
}
.woolisting-product-slider .woolist-product-img-2 a {
    width: 150px;
}
.woolisting-product-slider.woolist-product-img-3 {
    padding: 10px;
    width: 120px;
    display: flex !important;
    justify-items: center;
    align-items: center;
}
/* End Woolisting slider style-3 css */

/* Start Woolisting CSS Style-4  */
.woolist-product-4{
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px 7px rgba(197, 165, 200, 0.25), -5px 5px 10px 7px rgb(183 183 183 / 22%);
    border-radius: 20px;
    background-color: #f6eef7;
}
.woolist-content-4 {
    padding: 0px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000061;
    overflow: hidden;
    width: 100%;
    height: 15%;
    transition: .5s ease;
    z-index: 2;
}
.woolist-product-4:hover .woolist-content-4{
    height: 100%;
}
.woolist-label-image-wrapper{
    height: 100%;
    object-fit: cover;
}
.woolist-product-4 span.woolist-label-out-of-stock,
.woolist-label-4{
    background-color: #8d52b7;
    color: white;
    padding: 13px 11px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
}
.woolist-button-wrapper-4{
    margin-top: 15px;
    text-align: center;
}
.woolist-button-4 a{
    background-color: #8d52b7;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px 8px 15px;  
    margin-top: 15px;
    transition: all .3s ease;
    border: 1px solid #8d52b7;
    border-radius: 5px;
}
.woolist-button-4 a:hover{
    background-color: transparent;
    color: #8d52b7;
    border: 1px solid #8d52b7;
}
.woolist-show-name-4 a {
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.woolist-title-4{
    text-align: center;
}
.woolist-product-img-4 img{
    width: 100%;
}
.woolist-show-description-4{
    color: white;
}
.woolist-product-4 .woolist-regular-price-4{
    color: rgb(211, 210, 210);
}
.woolist-product-4 .woolist-sale-price-4{
    color: white;
}
/* End Woolisting CSS Style-4  */

/* Start Woolisting CSS Style-5  */
.woolist-design-5 .woolist-product-img{
    display: flex;
}
.woolist-design-5 .woolist-product:hover::after{
    background-color: #000;
    opacity: 0.3;
}
.woolist-design-5 .woolist-product:hover{
    box-shadow: 8px 6px 27px -9px rgba(0,0,0,0.5);
}
.woolist-design-5 .woolist-product::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}
.woolist-design-5 .woolist-show-name a {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
}
.woolist-design-5 .woolist-label,
.woolist-design-5 .woolist-label-out-of-stock {
    text-transform: capitalize;
    color: #ffffff;
    background: #ecb41c;
    letter-spacing: 0;
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    position: absolute;
    left: -10px;
    top: 8px;
}
.woolist-design-5 .woolist-out-of-stock-label::before,
.woolist-design-5 .woolist-ribbon::before {
    content: "";
    z-index: 5;
    position: absolute;
    top: 43px;
    left: -12.9px;
    width: 15px;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 0;
    border-color: transparent #ecb41c transparent transparent;
}
.woolist-design-5 .woolist-product{
    position: relative;
    transition: all .3s ease;
}
.woolist-design-5 .woolist-product .woolist-button-wrapper{
    display: none;
}
.woolist-design-5 .woolist-product:hover .woolist-button-wrapper{
    display: block;
}
.woolist-design-5 .woolist-button-wrapper{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.woolist-design-5 .woolist-button a {
    background-color: #ecb41c;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px 8px 15px;
    margin-top: 15px;
    transition: all .3s ease;
    border: 1px solid #ecb41c;
    border-radius: 5px;
}
.woolist-design-5 .woolist-button a:hover{
    background-color: transparent;
    color: #ecb41c;
    border: 1px solid #ecb41c;
}
.woolist-design-5 .woolist-product {
    box-shadow: 4px 3px 20px -10px rgba(0,0,0,0.5);
}
.woolist-design-5 .woolist-content {
    padding: 15px;
}
/* End Woolisting CSS Style-5  */

/* Start Woolisting CSS Style-6  */
.woolist-design-6 .woolist-product {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.woolist-design-6 .woolist-button-wrapper { 
    text-align: center;
}
.woolist-design-6 .woolist-product span.woolist-label-out-of-stock,
.woolist-design-6 .woolist-label{
    background-color: #457dc3;
    color: white;
    padding: 2px 10px;
    position: absolute;
    top:15px;
    right: 10px;  
    border-radius: 30px;  
}
.woolist-design-6 .woolist-product .woolist-out-of-stock-label,
.woolist-design-6 .woolist-ribbon{
    position: relative;
}
.woolist-design-6 .woolist-button a{
    background-color: #457dc3;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px 8px 15px;  
    margin-top: 15px;
    transition: all .3s ease;
    border: 1px solid #457dc3;
    border-radius: 5px;
}
.woolist-design-6 .woolist-button a:hover{
    background-color: transparent;
    border: 1px solid #457dc3;
    color: #457dc3;
}
.woolist-design-6 .woolist-show-name a {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
}
.woolist-design-6 .woolist-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #000000AB;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .6s ease;
}
.woolist-design-6 .woolist-product:hover .woolist-content {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.woolist-design-6 .woolist-show-description{
    color: #d2d2d2;
}
.woolist-design-6  .woolist-regular-price {
    color: #e1e1e17a;
    font-weight: 500;
    padding: 5px;
    font-size: 20px;
}
.woolist-design-6 .woolist-product-img img{
    width: 100%;
}
/* End Woolisting CSS Style-6  */

/* Start Woolisting CSS Style-7  */
.woolist-design-7 .woolist-product-img {
    border-radius: 50%;
    overflow: hidden;
    margin-top: -150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.woolist-design-7 .woolist-product {
    overflow: visible;
    margin-top: 150px;
    border-radius: 40px;
}
.woolist-design-7 .woolist-content {
    border-radius: 40px;
}
.woolist-design-7 .woolist-product {
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.12);
    padding: 40px;
}
.woolist-design-7 .woolist-product .woolist-content{
    text-align: center;
}
.woolist-design-7 .woolist-product .woolist-ribbon,
.woolist-design-7 .woolist-product .woolist-out-of-stock-label {
    position: relative;
}
.woolist-design-7 .woolist-label,
.woolist-design-7 .woolist-label-out-of-stock {
    clip-path: polygon(100% 0, 85% 52%, 100% 100%, 0% 100%, 0 55%, 0% 0%);
    background-color: #457dc3;
    padding: 2px 15px 2px 10px;
    position: absolute;
    color: #FFFFFF;
    left: -40px;
    top: -22px;
}
.woolist-design-7 .woolist-price-button-wrapper{
    display: flex;
    justify-content: space-between;
}
.woolist-design-7 .woolist-product-img img{
    object-fit: cover;
    width: 100%;
}
.woolist-design-7 .woolist-customer-rate-1 {
    display: flex;
    justify-content: center;
}
.woolist-design-7 .woolist-button a{
    background-color: #457dc3;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px 8px 15px;  
    margin-top: 15px;
    transition: all .3s ease;
    border: 1px solid #457dc3;
    border-radius: 5px;
}
.woolist-design-7 .woolist-button a:hover{
    background-color: transparent;
    color: #457dc3;
    border: 1px solid #457dc3;
}
.woolist-design-7 .woolist-button-wrapper{
    margin-top: 15px;
}
/* End  Woolisting CSS Style-7  */

/* Start Woolisting CSS Style-8  */
.woolist-design-8 .woolist-product-img{
    display: flex;
}
.woolist-design-8 .woolist-product{
    transition: all .5s;
    padding: 5px 15px 5px 15px;
    position: relative;
}
.woolist-design-8 .woolist-product-img {
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}
.woolist-design-8 .woolist-product:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 20px);
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.13);
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.96) translateY(0);
    transition: all 0.3s;
    background-color: #fff;
}
.woolist-design-8 .woolist-product:hover:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateY(-10px);
    transition: all 0.3s;
}
.woolist-design-8 .woolist-product:hover{
    margin-top: -10px;
}
.woolist-design-8 .woolist-out-of-stock-label,
.woolist-design-8 .woolist-ribbon {
    position: absolute;
    left: 20px;
    top: 16px;
    z-index: 2;
}
.woolist-design-8 .woolist-label,
.woolist-design-8 .woolist-label-out-of-stock {
    display: block;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 10px;
    margin-bottom: 3px;
    line-height: 1.6;
    text-align: center;
    background-color: #F777AC;
    border-radius: 48px;
}
.woolist-design-8 .woolist-content {
    text-align: center;
    position: relative;
    z-index: 9;
}
.woolist-design-8 .woolist-product:hover .woolist-button-wrapper{
    display: block;
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}
.woolist-design-8 .woolist-button-wrapper {
    display: none;
    position: absolute;
    margin: 0 auto;
    top: 60%;
    left: 50%;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    z-index: 9;
}
.woolist-design-8 .woolist-button a {
    background-color: #F777AC;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px 8px 15px;
    margin-top: 15px;
    transition: all .3s ease;
    border: 1px solid #F777AC;
    border-radius: 5px;
}
.woolist-design-8 .woolist-button a:hover{
    background-color: #0000;
    color: #F777AC;
}
.woolist-design-8 .woolist-show-name a{
    font-size: 16px;
    color: #000;
    transition: all .3s;
}
.woolist-design-8 .woolist-product:hover .woolist-show-name a {
    color: #F777AC;
}
/* End Woolisting CSS Style-8  */

/* Start Woolisting CSS Style-9  */
.woolist-design-9 .woolist-product {
    transition: all .5s;
    padding: 15px;
    position: relative;
    background-color: #ecdec1;
}
.woolist-design-9 .woolist-out-of-stock-label,
.woolist-design-9 .woolist-ribbon {
    position: absolute;
    left: 20px;
    top: 22px;
    z-index: 2;
}
.woolist-design-9 .woolist-label,
.woolist-design-9 .woolist-label-out-of-stock {
    display: block;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 10px;
    margin-bottom: 3px;
    line-height: 1.6;
    text-align: center;
    background-color: #ecdec1;
    border-radius: 48px;
}
.woolist-design-9 .woolist-show-name a {
    font-weight: bold;
    margin-top: 10px;
    font-size: 24px;
    color: #000000;
}
.woolist-design-9 .woolist-product:hover .woolist-button-wrapper{
    display: block;
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}
.woolist-design-9 .woolist-button-wrapper {
    display: none;
    position: absolute;
    margin: 0 auto;
    top: 60%;
    left: 50%;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
}
.woolist-design-9 .woolist-button a {
    cursor:pointer;
    position:relative;
    padding: 6px 22px;
    background:white;
    color: #000;
    font-size:24px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
} 
.woolist-design-9 .woolist-button a:after, .woolist-design-9 .woolist-button a:before {
    content:" ";
    width:10px;
    height:10px;
    position:absolute;
    border :0px solid #fff;
    transition:all 1s;
}
.woolist-design-9 .woolist-button a:after{
    top:0px;
    left:0px;
    border-top:3px solid black;
    border-left:3px solid black;
}
.woolist-design-9 .woolist-button a:before{
    bottom:0px;
    right:0px;
    border-bottom:3px solid black;
    border-right:3px solid black;
}
.woolist-design-9 .woolist-button a:hover{
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    background:rgba(0,0,0,.5);
    color:#ecdec1;
}
.woolist-design-9 .woolist-button a:hover:before, .woolist-design-9 .woolist-button a:hover:after{
    width:100%;
    height:100%;
    border-color:rgb(5, 5, 5);
}
.woolist-design-9 .woolist-product-img {
    overflow: hidden;
}
/* End Woolisting CSS Style-9  */

/* Start Woolisting CSS Style-10  */
.woolist-design-10 .woolist-product-img{
    display: flex;
    justify-content: center;
}
.woolist-design-10 .woolist-product {
    background-color: #F7F8F8;
    padding-bottom: 15px;
}
.woolist-design-10 .woolisting-title-label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}
.woolist-design-10 .woolisting-price-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 0px;
}
.woolist-design-10 .woolist-content{
    padding: 5px 10px;
}
.woolist-design-10 .woolist-label, 
.woolist-design-10 .woolist-label-out-of-stock {
    color: #FFFFFF;
    background-color: #FF6666;
    border-color: #E8E8E8;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0px;
    border-style: none;
    padding: 4px 10px 4px 10px;
    border-radius: 0px 0px 0px 0px;
}
.woolist-design-10 .woolist-title a{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    color: #404040;
}
.woolist-design-10 .woolist-show-description p {
    font-size: 14px;
    font-family: "Poppins", Sans-serif;
    color: #999999;
    margin-top: 8px;
    margin-bottom: 2px;
}
.woolist-design-10 .woolist-button a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f217";
}
.woolist-design-10 .woolist-button a {
    text-transform: uppercase;
    font-weight: 600;
    color: #4c4c4c;
    position: relative;
}
.woolist-design-10 .woolist-line-price {
    font-size: 20px;
    text-decoration: line-through;
    font-weight: 600;
    color: #7978787a;
    align-items: center;
    display: flex;
}
.woolist-design-10 .woolist-regular-price,
.woolist-design-10  .woolist-sale-price,
.woolist-design-10 .woolist-price-wrapper {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    border-style: none;
    border-radius: 0px 0px 0px 0px;
}
.woolist-design-10 .woolist-img {
    position: relative;
    transition: all .3s;
}
.woolist-design-10 .woolist-img:after{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #d2d2d2;
    position: absolute;
    opacity: 0;
}
.woolist-design-10 .woolist-product:hover .woolist-img:after{
    opacity: 0.4;
}   
/* End Woolisting CSS Style-10  */

/* Start Woolisting CSS Style-11  */
.woolist-design-11 .woolist-product{
    position: relative;
    overflow: hidden;
}
.woolist-design-11 .woolist-product-img img{
    width: 100%;
}
.woolist-design-11 .woolisting-img-desc-wrapper {
    position: relative;
}
.woolist-design-11 .woolisting-hover-content {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.46);
    z-index: 99;
    padding: 30px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.woolist-design-11 .woolist-product:hover .woolisting-hover-content  {
    opacity: 1;
}
.woolist-design-11 .woolisting-hover-content:before {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    position: absolute;
    content: '';
    opacity: 0;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
}
.woolist-design-11 .woolisting-hover-content:after {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    content: '';
    position: absolute;
    content: '';
    opacity: 0;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
}
.woolist-design-11 .woolist-product:hover .woolisting-hover-content:after,
.woolist-design-11 .woolist-product:hover .woolisting-hover-content:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.woolist-design-11 .woolist-show-description {
    position: relative;
    z-index: 1;
    color: #fff;
}
.woolist-design-11 .woolist-show-name .woolist-title a{
    color: #fff;
}
.woolist-design-11 .woolist-out-of-stock-label,
.woolist-design-11 .woolist-ribbon{
	position: relative;
}
.woolist-design-11 .woolist-out-of-stock-label,
.woolist-design-11 .woolist-label {
    position: absolute;
    top: 15px;
    right: 15px;
    -ms-transform: translateX(30%) translateY(0%) rotate(45deg);
    -webkit-transform: translateX(30%) translateY(0%) rotate(45deg);
    transform: translateX(30%) translateY(0%) rotate(45deg);
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    z-index: 10;
    background: #ea1f2e;
    text-align: center;
    color: #FFFFFF;
}
.woolist-design-11 .woolist-out-of-stock-label::before,
.woolist-design-11 .woolist-label::before {
    right: 100%;
}
.woolist-design-11 .woolist-out-of-stock-label::after,
.woolist-design-11 .woolist-label::after {
    left: 100%;
}
.woolist-design-11 .woolist-out-of-stock-label::before,
.woolist-design-11 .woolist-out-of-stock-label::after,
.woolist-design-11 .woolist-label::before,
.woolist-design-11 .woolist-label::after {
    content: '';
    position: absolute;
    top: 0;
    margin: 0 -1px;
    width: 200px;
    height: 100%;
    background: inherit;
    min-width: 55px;
}
.woolist-design-11 .woolist-button-wrapper {
    margin-top: 15px;
    text-align: center;
    position: relative;
    z-index: 9;
}
.woolist-design-11 .woolist-button a{
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px 8px 15px;  
    margin-top: 15px;
    transition: all .3s ease;
    border: 1px solid red;
    border-radius: 5px;
}
.woolist-design-11 .woolist-button a:hover {
    background-color: transparent;
    color: red;
    border: 1px solid red;
    }
.woolist-design-11 .woolist-sale-price,
.woolist-design-11 .woolist-regular-price{
    color: #dbdbdb;
    font-size: 18px;
    font-weight: 600;
}
.woolist-design-11 .woolist-price-wrapper{
    align-items: center;
}
.woolist-design-11 .woolist-show-name{
    position: relative;
    z-index: 9;
}
/* End Woolisting CSS Style-11  */

/* Start Woolisting product Listing Slider Global Css */
.woolist-category-img{
    margin: 10px;
}
.woolisting-product-slider.woolist-design-1 .slick-prev,
.woolisting-product-slider.woolist-design-2 .slick-prev,
.woolisting-product-slider.woolist-design-3 .slick-prev,
.woolisting-product-slider.woolist-design-4 .slick-prev,
.woolisting-product-slider.woolist-design-5 .slick-prev,
.woolisting-product-slider.woolist-design-6 .slick-prev,
.woolisting-product-slider.woolist-design-7 .slick-prev,
.woolisting-product-slider.woolist-design-8 .slick-prev,
.woolisting-product-slider.woolist-design-9 .slick-prev,
.woolisting-product-slider.woolist-design-10 .slick-prev,
.woolisting-product-slider.woolist-design-11 .slick-prev {
    left: 0 !important;
    z-index: 999;
}
.woolisting-product-slider.woolist-design-1 .slick-next,
.woolisting-product-slider.woolist-design-2 .slick-next,
.woolisting-product-slider.woolist-design-3 .slick-next,
.woolisting-product-slider.woolist-design-4 .slick-next,
.woolisting-product-slider.woolist-design-5 .slick-next,
.woolisting-product-slider.woolist-design-6 .slick-next,
.woolisting-product-slider.woolist-design-7 .slick-next,
.woolisting-product-slider.woolist-design-8 .slick-next,
.woolisting-product-slider.woolist-design-9 .slick-next,
.woolisting-product-slider.woolist-design-10 .slick-next,
.woolisting-product-slider.woolist-design-11 .slick-next {
    z-index: 999;
    right: 10px !important;
    
}
.woolisting-product-slider.woolist-design-1 .slick-list.draggable,
.woolisting-product-slider.woolist-design-3 .slick-list.draggable,
.woolisting-product-slider.woolist-design-4 .slick-list.draggable,
.woolisting-product-slider.woolist-design-5 .slick-list.draggable,
.woolisting-product-slider.woolist-design-6 .slick-list.draggable,
.woolisting-product-slider.woolist-design-7 .slick-list.draggable,
.woolisting-product-slider.woolist-design-8 .slick-list.draggable,
.woolisting-product-slider.woolist-design-9 .slick-list.draggable,
.woolisting-product-slider.woolist-design-10 .slick-list.draggable,
.woolisting-product-slider.woolist-design-11 .slick-list.draggable{
    margin: 0 42px 30px;
}
.woolisting-product-slider.woolist-design-1 .slick-prev i,
.woolisting-product-slider.woolist-design-1 .slick-next i,
.woolisting-product-slider.woolist-design-2 .slick-prev i,
.woolisting-product-slider.woolist-design-2 .slick-next i,
.woolisting-product-slider.woolist-design-3 .slick-prev i,
.woolisting-product-slider.woolist-design-3 .slick-next i,
.woolisting-product-slider.woolist-design-4 .slick-prev i,
.woolisting-product-slider.woolist-design-4 .slick-next i,
.woolisting-product-slider.woolist-design-5 .slick-prev i,
.woolisting-product-slider.woolist-design-5 .slick-next i,
.woolisting-product-slider.woolist-design-6 .slick-prev i,
.woolisting-product-slider.woolist-design-6 .slick-next i,
.woolisting-product-slider.woolist-design-7 .slick-prev i,
.woolisting-product-slider.woolist-design-7 .slick-next i,
.woolisting-product-slider.woolist-design-8 .slick-prev i,
.woolisting-product-slider.woolist-design-8 .slick-next i,
.woolisting-product-slider.woolist-design-9 .slick-prev i,
.woolisting-product-slider.woolist-design-9 .slick-next i,
.woolisting-product-slider.woolist-design-10 .slick-prev i,
.woolisting-product-slider.woolist-design-10 .slick-next i,
.woolisting-product-slider.woolist-design-11 .slick-prev i,
.woolisting-product-slider.woolist-design-11 .slick-next i
{
    color: #FFFFFF !important;
    background-color: #FD5056 !important;
    border-radius: 50px;
    padding: 10px 13px;
}
.woolisting-slider .woolisting-product-img {
    margin: 0 8px 0 7px;
    position: relative;
}
.woolisting-product-slider.woolist-design-2 .slick-list.draggable{
    margin-left: 55px;
    margin-right: 55px;
}
.woolisting-product-slider.woolist-design-2 .woolist-product-2{
    margin-left: 4.1px;
}
.woolisting-product-slider .slick-slide > div {
    margin: 15px;
}
.woolisting-product-slider.woolist-design-2  .slick-slide > div {
    margin: 20px;
}
.woolisting-product-slider .woolist-product-1 {
    margin: 0;
}
/* End Woolisting product Listing Slider Global Css */

/* Start Woolisting Slider Arrow & Dots Global CSS */
.woolisting-product-slider .slick-dots {
    position: absolute;
	bottom: -30px !important;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.woolisting-product-slider .slick-dots li button:before {
    opacity: .35 !important;
    font-size: 25px;
    color: #FD5056 !important;
}
.woolisting-product-slider .slick-dots li.slick-active button::before {
    opacity: 1 !important;
    font-size: 25px;
    color: #FD5056 !important;
}
.woolisting-product-slider .slick-dots [type="button"]:focus-visible, .woolisting-product-slider .slick-dots [type="reset"]:focus-visible, .woolisting-product-slider .slick-dots [type="submit"]:focus-visible, .woolisting-product-slider .slick-dots button:focus-visible, [type=button]:focus, [type=submit]:focus, button:focus {
    outline: 0 !important;
}
.woolisting-product-slider .slick-dots [type="button"]:focus, .woolisting-product-slider .slick-dots [type="button"]:hover, .woolisting-product-slider .slick-dots [type="submit"]:focus, .woolisting-product-slider .slick-dots [type="submit"]:hover, .woolisting-product-slider .slick-dots button:focus, .woolisting-product-slider .slick-dots button:hover {
	color: #ffff !important;
	background: none !important;
	text-decoration: none;
}
.woolisting-product-slider .slick-prev:before, .woolisting-product-slider .slick-next:before {
    font-size: 0 !important;
    color: transparent !important;
}
.woolisting-product-slider [type=button], .woolisting-product-slider [type=submit], .woolisting-product-slider button {
    color: #000 !important;
    background-color: transparent;
    border: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}
.woolisting-product-slider [type=button]:focus, .woolisting-product-slider [type=button]:hover, .woolisting-product-slider [type=submit]:focus, .woolisting-product-slider [type=submit]:hover, .woolisting-product-slider button:focus, .woolisting-product-slider button:hover {
	background: none !important;
	text-decoration: none;
}
.woolisting-product-slider .slick-prev, .woolisting-product-slider .slick-next {
    top: 50% !important;
    z-index: 9;
}
/* End Woolisting Slider Arrow & Dots Global CSS */

/* Start Woolisting Responsive Grid CSS */
@media screen and (min-width: 1025px) {
    .woolist-container.woolist-design-1,
    .woolist-container.woolist-design-4,
    .woolist-container.woolist-design-5,
    .woolist-container.woolist-design-6,
    .woolist-container.woolist-design-7,
    .woolist-container.woolist-design-8,
    .woolist-container.woolist-design-9,
    .woolist-container.woolist-design-10,
    .woolist-container.woolist-design-11 {
        grid-template-columns: repeat(3,1fr);
    }
    .woolist-container.woolist-design-2,
    .woolist-container.woolist-design-3{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 1024px) and (min-width:767px) {
    .woolist-container.woolist-design-1,
    .woolist-container.woolist-design-4,
    .woolist-container.woolist-design-5,
    .woolist-container.woolist-design-6,
    .woolist-container.woolist-design-7,
    .woolist-container.woolist-design-8,
    .woolist-container.woolist-design-9,
    .woolist-container.woolist-design-10,
    .woolist-container.woolist-design-11 {
        grid-template-columns: repeat(2,1fr);
    }
    .woolist-container.woolist-design-2,    
    .woolist-container.woolist-design-3 {
        grid-template-columns: repeat(1,1fr);
    }
    .woolisting-product-slider .woolist-content-wrapper {
        display: flex;
        align-items: center;
        top: 0;
        bottom: 0;
        width: 100%;
        padding-left: 10px;
    }
    .woolisting-product-slider .woolist-product-img-2 a {
        margin-left: -40px;
        background-color: #dfdfdf;
        border-radius: 10px;
        width: 120px;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        overflow: hidden;
    }
    .woolisting-product-slider .woolist-product-3 {
        display: flex !important;
        flex-direction: column;
        padding: 15px;
    }
    .woolisting-product-slider {
        font-size: 12px
    }
    .woolist-design-5 .woolist-button a,
    .woolist-design-6 .woolist-button a,
    .woolist-design-9 .woolist-button a{
        font-size: 18px;
    }
    .woolist-design-10 .woolisting-price-button {
        z-index: 9;
    }
}
@media (max-width: 1024px) {
    .woolist-image-wrapper-3 {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .woolist-container.woolist-design-1,
    .woolist-container.woolist-design-2,
    .woolist-container.woolist-design-3,
    .woolist-container.woolist-design-4,
    .woolist-container.woolist-design-5,
    .woolist-container.woolist-design-6,
    .woolist-container.woolist-design-7,
    .woolist-container.woolist-design-8,
    .woolist-container.woolist-design-9,
    .woolist-container.woolist-design-10,
    .woolist-container.woolist-design-11{
        grid-template-columns: repeat(1,1fr);
    }
    .woolist-product-2,
    .woolist-product-3{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .woolist-product-3{
        padding: 15px;
    }
    .woolist-image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }  
    .woolist-product-img-2 a{
        margin-left: 0px;
    }
    .woolist-label-2 {
        padding: 2px 5px 2px 5px;
        background-color:#000;
        color: #fff ;
        border-radius: 4px;
    }
    .woolist-ribbon-1 {
        position: absolute;
        right: 20px;
        top: 22px;
    }
    .woolist-content-4 {
        font-size: 12px;
        height: 20%;
    }
    .woolisting-product-slider .woolist-product-2 {
        padding: 15px;
    }
    .woolist-content-wrapper{
        padding-left: 0px;
    }
    .woolisting-product-slider.woolist-design-2 .woolist-product-2 {
        margin-left: 0px;
    }
    .woolist-content-wrapper-3 {
        display: flex;
        padding: 10px;
    }
    .woolist-content-3 {
        width: 100%;
    }
    .woolisting-product-slider .woolist-title a{
        font-size: 12px
    }
    .woolist-design-5 .woolisting-name-rating-wrapper, 
    .woolist-design-6 .woolisting-name-rating-wrapper {
        display: block;
    }
    .woolist-design-5 .woolist-button a,
    .woolist-design-6 .woolist-button a,
    .woolist-design-7 .woolist-button a,
    .woolist-design-8 .woolist-button a,
    .woolist-design-9 .woolist-button a,
    .woolist-design-10 .woolist-button a,
    .woolist-design-11 .woolist-button a{
        font-size: 12px;
    }
    .woolist-design-7 .woolist-price-button-wrapper{
        display: block;
    }
    .woolist-show-description p{
        font-size: 12px;
    }
    .woolist-design-7 .woolist-price-wrapper {
        display: flex;
        justify-content: center;
    }
    .woolist-sale-price,
    .woolist-regular-price{
        font-size: 12px;
    }
    .woolist-design-6 .woolist-regular-price,
    .woolist-design-10 .woolist-regular-price, 
    .woolist-design-10 .woolist-sale-price, 
    .woolist-design-10 .woolist-price-wrapper{
        font-size: 12px;
    }
    .woolist-design-7 .woolist-product-img {
        margin-top: -100px;
    }
    .woolist-rating i{
        font-size: 12px;
    }
    .woolist-design-10 .woolisting-price-button {
        flex-wrap: wrap;
        z-index: 9;
    }
}
/* End Woolisting Responsive Grid CSS */
