/***<<--- Heading Transition --->>***/

.wdt-heading-holder
{
    -webkit-transition: var(--wdt-elementor-base-transition);
            transition: var(--wdt-elementor-base-transition);
}

/***<<--- Heading Common --->>***/

.wdt-heading-holder
{
    position: relative;
}

.wdt-heading-holder > *:not(:last-child)
{
    margin-bottom: 15px;
}

.wdt-heading-holder > *:last-child
{
    margin-bottom: 0;
}

.wdt-heading-holder .wdt-heading-title-wrapper
{
    /* line-height: 1.35; */
    margin-top: 0;
}

.wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title .wdt-heading-title-item { margin: 0; }

.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-start,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-baseline,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-start .wdt-heading-title .wdt-heading-title-inner,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-baseline .wdt-heading-title .wdt-heading-title-inner
{
    line-height: 1;
}

.wdt-heading-holder .wdt-heading-subtitle-wrapper
{
    font-size: var(--wdtFontSize_Base);
    letter-spacing: 0;
    text-transform: capitalize;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(45deg, var(--wdtPrimaryColor) 0%, var(--wdtSecondaryColor) 100%);
    background-position: left center;
}
.wdt-custom-slide-1-heading .wdt-heading-holder .wdt-heading-subtitle-wrapper { text-transform: capitalize; }
.home-3 .wdt-heading-holder .wdt-heading-subtitle-wrapper{
    letter-spacing: var(--wdtLetterSpacing_3X);
}

.wdt-heading-holder .wdt-heading-icon-wrapper .wdt-content-icon-wrapper,
.wdt-heading-holder .wdt-heading-icon-wrapper .wdt-content-icon
{
    line-height: 1;
}

/***<<--- Overall - Heading Separator --->>***/

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator
{
    display: flex;
    align-items: center;
}

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator .wdt-separator-line
{
    width: 50px;
    height: 2px;
}

.wdt-heading-holder .wdt-heading-separator-wrapper .wdt-heading-separator.with-line .wdt-separator-line[class*='-left-part']
{
    margin-right: 5px;
}

.wdt-heading-holder .wdt-heading-separator-wrapper .wdt-heading-separator.with-line .wdt-separator-line[class*='-right-part']
{
    margin-left: 5px;
}

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator .wdt-content-icon-wrapper
{
    line-height: 0;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon
{
    display: inline-block;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span
{
    font-size: 1.125rem;

    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
    vertical-align: middle;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span i
{
    position: relative;

    display: inline-flex;

    width: 100%;
    height: 100%;
    margin: 0;

    place-content: center;
    place-items: center;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span svg
{
    width: 1em;
    height: 1em;

    fill: currentColor;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: auto;

    content: '';

    -webkit-border-radius: inherit;
            border-radius: inherit;
}

/***<<--- Heading - Decorative Elements --->>***/

.wdt-heading-holder > .wdt-heading-deco-wrapper > span
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    white-space: break-spaces;
}

.wdt-heading-holder > .wdt-heading-deco-wrapper > span .wdt-heading-deco-line
{
    width: 50px;
    height: 2px;
    align-self: center;
}
.wdt-heading-holder > .wdt-heading-title-wrapper.wdt-heading-deco-wrapper > span[class*="wdt-heading-title"]{
    column-gap: 6px;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner
{
    display: inline-flex;
    align-items: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner[class*='-left-part']:has(.wdt-heading-deco-icon)
{
    margin-right: 10px;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner[class*='-right-part']:has(.wdt-heading-deco-icon)
{
    margin-left: 10px;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-icon,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-icon span
{
    display: inline-flex;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span
{
    font-size: 1.125rem;
    line-height: 1;

    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span i
{
    position: relative;

    display: inline-flex;

    width: 100%;
    height: 100%;
    margin: 0;

    place-content: center;
    place-items: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span svg
{
    width: 1em;
    height: 1em;

    fill: currentColor;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: auto;

    content: '';

    -webkit-border-radius: inherit;
            border-radius: inherit;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-image
{
    display: inline-flex;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-inner .wdt-heading-deco-image span
{
    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-inner .wdt-heading-deco-image span img
{
    display: inherit;

    height: 100%;

    object-fit: cover;
}


/***<<--- Heading - Background Text Elements --->>***/

.wdt-heading-holder .wdt-heading-background-text-wrapper {
    line-height: 1;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
}

.wdt-heading-holder .wdt-heading-background-text-wrapper .wdt-heading-background-text {
    display: inline-block;
    font-family: var(--wdtFontTypo_Alt);
    font-size: 12.5em;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 0.65;
    opacity: 0.048;
    margin-top: 5px;
    margin-left: -5px;
}


/* Default Colors */

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-separator-line,
.wdt-heading-holder > .wdt-heading-deco-wrapper > span .wdt-heading-deco-line
{
    background-color: var(--wdt-elementor-color-primary);
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-heading-colored-elements
{
    color: var(--wdt-elementor-color-primary);
}


/* Additonal For Copy_Title */

.wdt-heading-holder .wdt-heading-title-wrapper{
    display: grid;
}
.wdt-heading-holder .wdt-heading-title-wrapper > span{
    grid-area: 1/-1;
}
.wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title-copy .wdt-split-heading-title {
    transition: color 0.2s linear;
    display: inline-block;
}

.swiper-slide .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title-copy .wdt-split-heading-title{
    visibility: visible;
    opacity: 0;                               
    transition-property: opacity;
    animation: glitch-anim .6s 4, glitch-bounce .4s 4;
    animation-play-state: paused;
    color: currentColor;
    animation-delay: calc(-0.02s * var(--char-index));
    animation-timing-function: steps(1);
}
.wdt-item-is-inview .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title-copy .wdt-split-heading-title,
.swiper-slide.swiper-slide-active .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title-copy .wdt-split-heading-title{
    opacity: 1;
    animation-play-state: running;
}
span.wdt-split-heading-title { display: inline-block; }
