/***<<--- Mailchimp Transition --->>***/

.wdt-mailchimp-holder .wdt-mailchimp-wrapper,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form>*,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'],
.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:after {
    -webkit-transition: var(--wdt-elementor-base-transition);
    transition: var(--wdt-elementor-base-transition);
    width: 100%;
}

/***<<--- Mailchimp Common --->>***/

.wdt-terms-condition-lbl + a{

    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--wdtHeadAltColor);
}
.wdt-terms-condition-lbl + a:hover { color: var(--wdtPrimaryColor); }

.wdt-mailchimp-holder {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper {
    display: inline-flex;
    flex-wrap: wrap;

    width: 100%;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form {
    display: inline-flex;
    flex-wrap: wrap;

    width: 100%;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form>*:not(:last-child) {
    margin-bottom: 20px;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-title,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subtitle,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-description {
    line-height: 1;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-title {
    font-size: 2em;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subtitle {
    font-size: 1.5em;

    letter-spacing: .05em;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='text'],
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email'] {
    font-size: 1em;
    line-height: 1;

    width: 100%;
    padding: 1em;

    border: 1px solid;
    border-radius: inherit;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input:not([type="checkbox"]),
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input:not([type="checkbox"]):focus {
    outline: none;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] {
    font-size: 1em;
    line-height: 1;
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 0;
    text-align: center;
    padding: var(--wdtPadding_Btn);
    -webkit-border-radius: var(--wdtRadius_Zero);
    border-radius: var(--wdtRadius_Zero);
    outline: none;
    color: var(--wdtAccentTxtColor);
    background-image: linear-gradient(45deg, var(--wdtSecondaryColor), var(--wdtPrimaryColor), var(--wdtPrimaryColor), var(--wdtSecondaryColor));
    background-size: 300% auto;
    border-width: 0;
    border-style: solid;
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;
    font-family: var(--wdtFontTypo_Alt);
    font-weight: var(--wdtFontWeight_Ext);
    text-transform: capitalize;
    justify-content: center;
}
.home-2 .wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']{
    border-radius: var(--wdtRadius_Part);
    color: var(--wdtHeadAltColor);
    padding: var(--wdtPadding_Btn);
    font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
}
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']:hover { background-position: 100%; }
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']>*:last-child {
    margin: 0 0 0 10px;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']>*:only-child {
    margin: 0;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon .wdt-mailchimp-subscription-button-holder button {
    padding: 1em;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] i {
    font-size: inherit;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input:not(:last-child) {
    margin: 0 0 20px;
}
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type="checkbox"]{
    margin-bottom: 0 !important;
    margin-right: 10px;
    margin-top: -5px;
}

/* .wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;

    width: 25px;
    height: 25px;
    margin: auto;

    content: '';
    -webkit-animation: jet-spinner .6s linear infinite;
            animation: jet-spinner .6s linear infinite;

    border: 3px solid #e1e1e1;
    border-top-color: #000000;
    -webkit-border-radius: 50%;
            border-radius: 50%;
} */

@-webkit-keyframes jet-spinner {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes jet-spinner {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'].loading:before {
    visibility: visible;
}

/* .wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'].loading > *
{
    visibility: hidden;
} */

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    margin: 20px 0 0;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-title:empty,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subtitle:empty,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-description:empty,
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg:empty {
    display: none;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg .wdt-mailchimp-subscription-msg-inner {
    line-height: 1;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 20px 25px;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg .success {
    color: #5cb85c;
    background-color: #d9efd9;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscription-msg .error {
    color: #d9534f;
    background-color: #ffcac9;
}

/* Type 2 */

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper {
    display: flex;
    -webkit-box-align: start;
    align-items: center;
    -ms-flex-align: start;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    width: 100%;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form {
    position: relative;
    z-index: 1;

    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    margin: 0;
    padding: 15px 35px;

    border-radius: 50px;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;

    content: '';

    opacity: .25;
    border-radius: inherit;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: var(--wdtFontTypo_Alt);
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email'] {
    padding-right: 25px;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder {
    width: auto;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] {
    flex-wrap: nowrap;

    padding: 15px 0 15px 25px;

    letter-spacing: .9px;
    text-transform: uppercase;

    border-left-width: 1px;
    border-left-style: solid;
    border-radius: 0;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] {
    color: inherit;
    border-left-color: #e1e1e1;
    background: transparent;
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit']:hover {
    color: var(--wdt-elementor-color-primary);
    background-color: transparent;
}

/* Type 3 */

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper {
    display: flex;
    -webkit-box-align: start;
    align-items: center;
    -ms-flex-align: start;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form {
    position: relative;

    display: flex;

    width: 100%;
    margin: 0;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:hover:before {
    width: 100%;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input {
    margin: 0;

    outline: none;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-text input {
    padding-right: 6em;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon input {
    padding-right: 3em;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon-and-text input {
    padding-right: 8em;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;

    display: inline-flex;
    align-items: center;

    margin: auto;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon .wdt-mailchimp-subscription-button-holder button {
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    padding: 0;
}

/* Type 4 */

.wdt-mailchimp-holder.wdt-template-type4 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='text'],
.wdt-mailchimp-holder.wdt-template-type4 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email'] {
    padding-right: 0;
    padding-left: 0;
    border: 1px solid var(--wdtPrimaryColor);
    padding: var(--wdtInputPadding);
    border-radius: var(--wdtRadius_Part);
    box-shadow: inset 0 0 20px -5px var(--wdtPrimaryColor);
    -webkit-box-shadow: inset 0 0 20px -5px var(--wdtPrimaryColor);
    background-color: var(--wdtTertiaryColor);
}
.wdt-mailchimp-holder.wdt-template-type4 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='text']:focus, 
.wdt-mailchimp-holder.wdt-template-type4 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email']:focus{
    box-shadow: inset -5px -3px 20px 0 var(--wdtPrimaryColor), 0 0 20px -5px var(--wdtPrimaryColor);
    -webkit-box-shadow: inset -5px -3px 20px 0 var(--wdtPrimaryColor), 0 0 20px -5px var(--wdtPrimaryColor);
}

.wdt-mailchimp-holder.wdt-template-type4 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email']::placeholder {
    opacity: 0.6;
}

/* Type 5 */

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper {
    display: flex;
    -webkit-box-align: start;
    align-items: center;
    -ms-flex-align: start;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form {
    position: relative;

    display: flex;

    width: 100%;
    margin: 0;

    border-radius: 50px;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:hover:before {
    width: 100%;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input {
    margin: 0;

    outline: none;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-text input {
    padding-right: 8em;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon input {
    padding-right: 4em;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon-and-text input {
    padding-right: 10em;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;

    align-items: center;

    margin: 5px;

    border-radius: 50px;
}

.wdt-mailchimp-holder.wdt-template-type5 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form.with-btn-icon .wdt-mailchimp-subscription-button-holder button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    padding: 0;
}

/* Type 6 */

.wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form {
    flex-wrap: nowrap;
}

.wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input {
    margin: 0 10px 0 0;
}

.wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form .wdt-mailchimp-subscription-button-holder button[type='submit'] {
    flex-wrap: nowrap;
}

/* Default Colors */

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='text'],
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email'] {
    border-color: transparent;
}

.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input:not([type="checkbox"]):focus {
    border-color: var(--wdtPrimaryColor);
}

.wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form:before {
    background-color: #e1e1e1;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'],
.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']:hover {
    background-color: transparent;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'] {
    color: inherit;
}

.wdt-mailchimp-holder.wdt-template-type3 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit']:hover {
    color: var(--wdt-elementor-color-primary);
}

/*--------------------------------------------------------------
    Custom Style
--------------------------------------------------------------*/

.home-2 .wdt-mailchimp-holder.wdt-template-type4 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='text'], 
.home-2 .wdt-mailchimp-holder.wdt-template-type4 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email']{
    margin-bottom: 0;
}
.home-2 .wdt-mailchimp-holder.wdt-template-type4 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form div[class*="button-holder"] {
    position: absolute;
    width: auto;
    right: 5px;
    top: 5px;
    bottom: 5px;
}
.wdt-mailchimp-holder .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form { position: relative; }

/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */
@media only screen and (max-width: 767px) {
    .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form {
        padding: 10px 25px;
    }

    .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input[type='email'] {
        padding-right: 10px;
    }

    .wdt-mailchimp-holder.wdt-template-type2 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form button[type='submit'] {
        padding: 10px 0 10px 15px;
    }

    .wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form {
        flex-wrap: wrap;
    }

    .wdt-mailchimp-holder.wdt-template-type6 .wdt-mailchimp-wrapper .wdt-mailchimp-subscribe-form input {
        margin: 0 0 10px 0;
    }
}