/* Registration Form */
.wdt-registration-form {
    padding: 55px 30px;
    background-color: rgba(var(--wdtBodyBGColorRgb), 1);
    width: 100%;
    max-width: 695px;
    border-radius: var(--wdtRadius_Zero);
    margin: 0 auto;
    margin-bottom: 120px;
    border: 1px solid var(--wdtBorderColor);

}

.wdt-registration-form form {
    margin-top: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem);
    /*----min-30px and max-60px-----*/
}

.wdt-registration-form .glidex-custom-auth-sc-border-title h2 {
    text-align: center;
}

.wdt-registration-form p {
    text-align: center;
    font-weight: calc(var(--wdtFontWeight_Base) - 100);
}

.wdt-registration-form p strong {
    font-weight: calc(var(--wdtFontWeight_Base) - 100);
}

.wdt-registration-form form p {
    text-align: left;
    color: var(--wdtBodyTxtColor);
}

.wdt-registration-form form p:not(:last-child) {
    margin-bottom: 20px;
}

.wdt-registration-form form p:last-child {
    text-align: center;
}

.wdt-registration-form form p a.glidex-pro-login-link {
    color: var(--wdtLinkHoverColor);
    text-decoration: underline;
    text-decoration-color: transparent;
}

.wdt-registration-form form p a.glidex-pro-login-link:hover {
    text-decoration-color: currentColor;
}

.wdt-registration-form form#loginform {
    display: block;
}

.glidex-pro-login-description {
    width: 80%;
    text-align: center;
}

.wdt-registration-form input[type="submit"] {
    width: 100%;
    padding: var(--wdtPadding_MiniBtn);
    padding-top: 14px;
    padding-bottom: 14px;
}

.wdt-registration-form input[type="submit"]:hover {
    background-color: var(--wdtSecondaryColor);
    color: var(--wdtAccentTxtColor);
}

.glidex-pro-login-form-holder #loginform p {
    margin: 0 0 0 0;
}

.glidex-pro-login-form-holder #loginform {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    grid-gap: 20px;
}

/* Login form */

.glidex-pro-login-form-container {
    display: block;
    height: 100% !important;
    margin: 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
    z-index: 10000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.glidex-pro-login-form-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    background: rgba(var(--wdtBodyBGColorRgb), 1);
}

.login-form-custom-logo {
    display: none;
    text-align: center;
    margin: 10px 0;
    margin-bottom: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem);
    /*----min-30px and max-60px-----*/
}

.login-form-custom-logo img {
    max-width: 170px;
}

.glidex-pro-login-form-holder>*:not(:last-child),
.glidex-pro-login-form-container .glidex-pro-login-form>*:not(:last-child) {
    margin-bottom: 30px;
}

.glidex-pro-login-form-container .glidex-pro-login-form {
    display: grid;
    padding: 0;
    pointer-events: auto;
    position: absolute;
    left: 0;
    right: 0;
    /* top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%); */
    background-color: rgba(var(--wdtBodyBGColorRgb), 1);
    width: 100%;
    margin: auto;
    height: 100%;
    place-content: center;
    pointer-events: none;
}

.glidex-pro-login-form-container .glidex-pro-login-form .glidex-pro-login-form-wrapper {
    padding: 55px 30px;
    border-radius: var(--wdtRadius_Zero);
    border: 1px solid var(--wdtBorderColor);
    max-width: 695px;
    height: fit-content;
    overflow-y: auto;
    max-height: calc(100vh - 2*1.5em);
    pointer-events: painted;
}

.glidex-pro-login-form-container .glidex-pro-login-form .glidex-pro-title.glidex-pro-login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem);
    /*----min-30px and max-60px-----*/
}


#loginform .login-username,
#loginform .login-password {
    width: 100%;
}

#loginform .login-remember {
    text-align: left;
}

#loginform p.login-remember input[type="checkbox"] {
    opacity: 1;
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid var(--wdtBorderColor);
    transform: translateY(-0.075em);
    display: inline-grid;
    place-content: center;
    background: rgba(var(--wdtTertiaryColorRgb), .0);
    border-radius: var(--wdtRadius_Zero);
    padding: 0 0;
    outline: 0;
}

#loginform p.login-remember input[type="checkbox"]:after {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--wdtPrimaryColor);
}

#loginform p.login-remember input[type="checkbox"]:checked:after {
    transform: scale(1);
}

#loginform input[type="text"]:focus,
#loginform input[type="password"]:focus {
    border-color: var(--wdtPrimaryColor);
}

#loginform .login-submit input[type="submit"] {
    width: 100%;
    background-color: var(--wdtPrimaryColor);
    padding-top: 14px;
    padding-bottom: 14px;
}

#loginform .login-submit input[type="submit"]:hover {
    background-color: var(--wdtSecondaryColor);
    color: var(--wdtAccentTxtColor);
}

.glidex-pro-social-logins-divider {
    text-align: center;
    margin: 20px 0;
}

.glidex-pro-title.glidex-pro-login-title h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.glidex-pro-login-form-container .glidex-pro-login-form .glidex-pro-login-form-holder p.tpl-forget-pwd {
    margin-bottom: 0px;
}

.glidex-pro-login-form-container .glidex-pro-login-form .glidex-pro-login-form-holder p.tpl-forget-pwd a {
    color: var(--wdtLinkHoverColor);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s linear;
}

.glidex-pro-login-form-container .glidex-pro-login-form .glidex-pro-login-form-holder p.tpl-forget-pwd a:hover {
    text-decoration-color: var(--wdtLinkHoverColor);
}

a.glidex-pro-social-facebook-connect,
a.glidex-pro-social-google-connect {
    width: calc(50% - 20px);
    padding: var(--wdtPadding_MiniBtn);
    display: inline-block;
    text-align: center;
    /* background: var(--wdtAccentTxtColor); */
    color: var(--wdtBodyTxtColor);
    border-radius: var(--wdtRadius_Zero);
    box-shadow: rgba(var(--wdtLinkHoverColorRgb), 1) 0 0 0px;
    border: 1px solid var(--wdtBorderColor);
    margin: 10px;
    font-family: var(--wdtFontTypo_Ext);
    font-size: var(--wdtFontSize_Base);
    font-weight: var(--wdtFontWeight_Base);
    transition: var(--wdt-Ad-Transition);
}

a.glidex-pro-social-facebook-connect:hover,
a.glidex-pro-social-google-connect:hover {
    background-color: var(--wdtSecondaryColor);
    color: rgba(var(--wdtAccentTxtColorRgb), 1);
    border-color: rgba(var(--wdtSecondaryColorRgb), 1);
}

a.glidex-pro-social-facebook-connect i,
a.glidex-pro-social-google-connect i {
    margin-right: 10px;
    color: var(--wdtHeadAltColor);
    transition: var(--wdt-Ad-Transition);
}

a.glidex-pro-social-facebook-connect:hover i,
a.glidex-pro-social-google-connect:hover i {
    color: var(--wdtAccentTxtColor);
}

.glidex-pro-login-form-container {
    max-width: 1640px;
    margin: auto;
}

@media only screen and (max-width:1540px) {
    .glidex-pro-title.glidex-pro-login-title h2 {
        font-size: var(--wdtFontSize_H3);
    }

    .glidex-pro-login-form #loginform {
        margin-top: 0;
    }

    .glidex-pro-social-logins-divider {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #loginform {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        grid-gap: 20px;
    }

    #loginform .login-submit {
        margin-bottom: 0;
        grid-area: 3/1;
    }
}

@media screen and (max-width:1540px) {
    #loginform .login-remember,
    .glidex-pro-login-form-container .glidex-pro-login-form .glidex-pro-login-form-holder p.tpl-forget-pwd { text-align: center; }
}

/* @media screen and (min-width: 768px) and (max-width: 1540px) {
    .glidex-pro-login-form-holder #loginform {
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media screen and (min-width:1281px) and (max-width: 1540px) {
    .glidex-pro-login-form-container {
        max-width: 1080px;
        margin: auto;
    }

    .glidex-pro-login-form-holder>*:not(:last-child),
    .glidex-pro-login-form-container .glidex-pro-login-form>*:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (min-width:1025px) and (max-width: 1280px) {
    .glidex-pro-login-form-container {
        max-width: 900px;
        margin: auto;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    .glidex-pro-login-form-container {
        max-width: 710px;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {

    #loginform .login-username,
    #loginform .login-password {
        margin-bottom: 20px;
    }

    .glidex-pro-login-form-container {
        overflow: scroll;
    }

    .glidex-pro-login-form-container .glidex-pro-login-form .glidex-pro-login-form-wrapper {
        padding: 30px;
        max-width: 420px;
        margin: 0 20px;
        width: calc(100% - 40px);
    }

    .glidex-pro-title.glidex-pro-login-title h2 {
        font-size: var(--wdtFontSize_H4);
    }

    .wdt-registration-form {
        padding: 30px 20px;
    }

    .wdt-registration-form .glidex-custom-auth-sc-border-title h2 {
        font-size: var(--wdtFontSize_H3);
    }
}

@media screen and (min-width:480px) and (max-width: 767px) {
    .glidex-pro-login-form-container {
        margin: auto;
    }
}

@media screen and (max-width: 479px) {

    a.glidex-pro-social-facebook-connect,
    a.glidex-pro-social-google-connect {
        padding: 10px;
    }

    .glidex-pro-login-form-container {
        max-width: 100%;
        margin: auto;
    }

    .glidex-pro-title.glidex-pro-login-title h2 {
        font-size: var(--wdtFontSize_H4);
    }

    .wdt-registration-form .glidex-custom-auth-sc-border-title h2 {
        font-size: var(--wdtFontSize_H4);
    }

    .page-template-tpl-registration #main > .container > .container:has(#loginform) {
        padding: 0;
    }
}



/* After Registration */

.wdt-custom-auth-form .elementor-section.elementor-section-boxed > .elementor-container{
    max-width: 1640px;
}
.wdt-custom-auth-form #header .elementor-section,
.wdt-custom-auth-form #footer .elementor-section{
    border-color: var(--wdtBorderColor);
}

.mu_register {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    padding: 50px;
    background: var(--wdtBodyBGColor);
    border: 1px solid var(--wdtBorderColor);
    border-radius: var(--wdtRadius_Zero);
    margin-bottom: clamp(3.75rem, 2.4519rem + 5.7692vw, 9.375rem) !important;
}

.mu_register h2 {
    font-size: var(--wdtFontSize_H4);
    text-align: center;
}

.mu_register form input {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid transparent;
}

.mu_register form input:focus {
    border-color: var(--wdtPrimaryColor);
}

.mu_register form .wp-signup-username-description,
.mu_register form .wp-signup-email-description {
    margin-bottom: 15px;
}

.mu_register p.submit {

    margin-top: 20px;
}

.mu_register form p.submit input[type="submit"] {
    font-size: var(--wdtFontSize_Base);
}

@media screen and (max-width: 479px) {
    .glidex-pro-login-form-container .glidex-pro-login-form .glidex-pro-login-form-wrapper {
        padding: 20px;
        margin: 0 15px;
        width: calc(100% - 30px);
    }

    .mu_register {
        padding: 30px;
    }
}


@media only screen and (min-width:1281px) and (max-width:1540px) {
    .wdt-registration-form {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width:1025px) and (max-width:1280px) {
    .wdt-registration-form {
        margin-bottom: 80px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .wdt-registration-form {
        margin-bottom: 70px;
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .wdt-registration-form {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 479px) {
    .wdt-registration-form {
        margin-bottom: 60px;
    }
}