/* Misc */
.wdt-testimonial-holder.wdt-rc-template-cover .wdt-content-item,
.wdt-testimonial-holder.wdt-rc-template-overlay .wdt-content-item {
    justify-content: start;
    text-align: start;
}

.wdt-testimonial-holder.wdt-rc-template-cover .wdt-content-item .wdt-content-media-group,
.wdt-testimonial-holder.wdt-rc-template-overlay .wdt-content-item .wdt-content-media-group,
.wdt-testimonial-holder.wdt-rc-template-cover .wdt-content-item .wdt-media-image-cover,
.wdt-testimonial-holder.wdt-rc-template-overlay .wdt-content-item .wdt-media-image-overlay,
.wdt-testimonial-holder.wdt-rc-template-cover .wdt-content-item .wdt-media-image-cover>.wdt-media-image-cover-container,
.wdt-testimonial-holder.wdt-rc-template-overlay .wdt-content-item .wdt-media-image-overlay>.wdt-media-image-overlay-container {
    justify-content: inherit;
    text-align: inherit;
}

/* Default Template */
.wdt-testimonial-holder.wdt-rc-template-default .wdt-content-item {
    text-align: center;
}

.wdt-testimonial-holder.wdt-rc-template-default .wdt-content-item .wdt-content-image>span,
.wdt-testimonial-holder.wdt-rc-template-default .wdt-content-item .wdt-content-image>a {
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.wdt-testimonial-holder.wdt-rc-template-default .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper {
    margin-bottom: 0;
}

.wdt-testimonial-holder.wdt-rc-template-default .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper+.wdt-content-icon-wrapper {
    display: block;
    font-size: 60px;
    line-height: 0;
    margin-top: -8px;
    margin-bottom: -0.4em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wdt-testimonial-holder.wdt-rc-template-default .wdt-content-item .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon span {
    background-color: var(--wdt-elementor-color-white);
    color: rgba(var(--wdt-elementor-color-accent-rgb), 0.85);
    font-size: 24px;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px 0 rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
    box-shadow: 0 0 3px 0 rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
}

.wdt-testimonial-holder.wdt-rc-template-default .wdt-content-item:hover .wdt-content-media-group .wdt-content-icon-wrapper .wdt-content-icon span {
    background-color: var(--wdt-elementor-color-accent);
    color: var(--wdt-elementor-color-white);
}

/* SideImage Template */
.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item {
    display: flex;
    flex-wrap: wrap;
}

.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item>* {
    padding: 10px;
}

.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-media-group {
    display: inline-flex;
    flex: 0 1 0;
    margin-bottom: 0;
}

.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-detail-group {
    flex: 1 1 0;
    width: 100%;
}

.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper {
    place-content: center;
    margin-bottom: 0 !important;
    width: 100%;
}

.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    align-self: flex-start;
}

.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper,
.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper .wdt-content-image,
.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    min-width: 120px;
}

.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    height: 120px;
    width: 120px;
    -webkit-border-radius: var(--wdtRadius_Zero);
    border-radius: var(--wdtRadius_Zero);
}

.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a img,
.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-image-wrapper+.wdt-content-icon-wrapper {
    position: absolute;
    right: 0;
    top: 90px;
}

.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
    background-color: var(--wdt-elementor-color-white);
    color: rgba(var(--wdt-elementor-color-accent-rgb), 0.85);
    font-size: 18px;
    height: 40px;
    width: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
    box-shadow: 0 0 3px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
}

.wdt-testimonial-holder.wdt-rc-template-side-image .wdt-content-item:hover .wdt-content-icon-wrapper .wdt-content-icon span {
    background-color: var(--wdt-elementor-color-accent);
    color: var(--wdt-elementor-color-white);
}


/* Image Aside-Content Template */
.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item {
    padding: 15px;
    justify-content: start;
    text-align: start;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 3px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
    box-shadow: 0 0 3px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-detail-group {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: inherit;
    text-align: inherit;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-group {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    align-content: center;
    align-items: start;
    width: auto;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-group>* {
    margin: 0 10px;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-description {
    flex: 1 1 0;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: start;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-image-wrapper {
    flex: 0 1 0;
    height: auto !important;
    margin-bottom: 0;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-image-wrapper .wdt-content-image {
    justify-content: inherit;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-image-wrapper,
.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-image-wrapper .wdt-content-image,
.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    min-width: 75px;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    height: 75px;
    width: 75px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a img,
.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-icon-wrapper {
    margin: 0 !important;
    opacity: 0.075;
    position: absolute;
    right: 5px;
    top: 5px;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
    font-size: 35px;
    height: 1em;
    padding: 0;
    width: 1em;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item .wdt-content-separator.separator-2 span {
    height: 1px;
    max-width: 100%;
    width: 100%;
}

.wdt-testimonial-holder.wdt-rc-template-aside-content .wdt-content-item>div[class*="group"]>.wdt-rating-container {
    margin-bottom: 5px;
}


/* Aside-Title Template */
.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item {
    text-align: start;
    justify-content: start;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-detail-group {
    position: relative;
    text-align: inherit;
    justify-content: inherit;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-group {
    display: inline-flex;
    align-content: center;
    align-items: start;
    width: auto;
    margin: auto;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-group>* {
    margin: 0 10px;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-title-group {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: start;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-title-group>span {
    display: none;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-title-group .wdt-content-title {
    margin-top: 8px;
    margin-bottom: 0;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-image-wrapper {
    height: auto !important;
    margin-bottom: 0;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-image-wrapper .wdt-content-image {
    justify-content: inherit;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-image-wrapper,
.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-image-wrapper .wdt-content-image,
.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    min-width: 75px;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    height: 75px;
    width: 75px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a img,
.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-icon-wrapper {
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: -30%;
    left: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-icon-wrapper,
.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon {
    display: block;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
    font-size: 160px;
    height: 1em;
    padding: 0;
    width: 1em;
    color: var(--wdtHeadAltColor);
    opacity: .5;
}

.wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item>div[class*="group"]>.wdt-rating-container {
    margin-bottom: 20px;
}


/* Boxed Template */
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item {
    background: rgba(var(--wdt-elementor-color-accent-rgb), 0.8);
    padding: 10px 10px 20px;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item,
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-content-title h5,
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-content-title h5>a,
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-content-subtitle,
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-social-icons-list li a,
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-rating li span,
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item ul li,
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item span {
    color: var(--wdt-elementor-color-white);
}

.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item:hover {
    background-color: var(--wdt-elementor-color-accent);
}

.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item:hover .wdt-content-title h5>a:hover,
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item:hover .wdt-social-icons-list li a:hover {
    color: var(--wdt-elementor-color-black);
}

.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-media-image-overlay .wdt-content-image-wrapper:before {
    background-color: var(--wdt-elementor-color-accent);
}

.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-content-media-group .wdt-media-image-overlay-container {
    justify-content: center;
}

.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-content-media-group .wdt-media-image-overlay-container .wdt-content-icon-wrapper .wdt-content-icon span {
    background-color: var(--wdt-elementor-color-accent);
    color: var(--wdt-elementor-color-white);
    font-size: 20px;
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-content-media-group .wdt-media-image-overlay-container .wdt-content-icon-wrapper .wdt-content-icon span:before,
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-content-media-group .wdt-media-image-overlay-container .wdt-content-icon-wrapper .wdt-content-icon span:after {
    background-color: inherit;
    content: "";
    height: auto;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
    z-index: -1;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: inherit;
    transition: inherit;
}

.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-content-media-group .wdt-media-image-overlay-container .wdt-content-icon-wrapper .wdt-content-icon span:before,
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item:hover .wdt-content-media-group:hover .wdt-media-image-overlay-container .wdt-content-icon-wrapper .wdt-content-icon span:after {
    margin: -10px;
}

.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item:hover .wdt-content-media-group:hover .wdt-media-image-overlay-container .wdt-content-icon-wrapper .wdt-content-icon span:before,
.wdt-testimonial-holder.wdt-rc-template-boxed .wdt-content-item .wdt-content-media-group .wdt-media-image-overlay-container .wdt-content-icon-wrapper .wdt-content-icon span:after {
    margin: 0;
}

/* Classic Template */
.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item {
    padding: 15px;
    -webkit-box-shadow: 0 0 3px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
    box-shadow: 0 0 3px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
}

.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-media-image-cover .wdt-content-image-wrapper:before,
.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-media-image-cover .wdt-content-image-wrapper:after {
    background-color: var(--wdt-elementor-color-accent);
}

.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-media-image-cover .wdt-content-image-wrapper,
.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-media-image-cover>.wdt-media-image-cover-container {
    overflow: hidden;
}

.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-media-image-cover>.wdt-media-image-cover-container {
    text-align: center;
    justify-content: center;
}

.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-media-image-cover .wdt-content-image-wrapper:before {
    opacity: 0.25;
}

.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-media-image-cover-container .wdt-content-icon-wrapper .wdt-content-icon span {
    background-color: var(--wdt-elementor-color-accent);
    color: var(--wdt-elementor-color-white);
    font-size: 20px;
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-media-image-cover-container .wdt-content-icon-wrapper .wdt-content-icon span:before,
.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-media-image-cover-container .wdt-content-icon-wrapper .wdt-content-icon span:after {
    background-color: inherit;
    content: "";
    height: auto;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
    z-index: -1;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: inherit;
    transition: inherit;
}

.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-media-image-cover-container .wdt-content-icon-wrapper .wdt-content-icon span:before,
.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item:hover .wdt-media-image-cover-container .wdt-content-icon-wrapper .wdt-content-icon span:after {
    margin: -10px;
}

.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item:hover .wdt-media-image-cover-container .wdt-content-icon-wrapper .wdt-content-icon span:before,
.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-media-image-cover-container .wdt-content-icon-wrapper .wdt-content-icon span:after {
    margin: 0;
}

.wdt-testimonial-holder.wdt-rc-template-classic .wdt-content-item .wdt-content-separator+.wdt-social-icons-container {
    margin-top: -8px;
}


/* Aside Icon Image Template */
.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-elements-group.wdt-media-group {
    display: inline-flex;
    perspective: 250px;
}

.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-image-wrapper {
    margin-bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-image-wrapper,
.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-image-wrapper .wdt-content-image,
.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    min-width: 75px;
}

.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span,
.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
    height: 75px;
    width: 75px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a img,
.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-icon-wrapper {
    margin: 0;
    -webkit-transform: translate3d(-15px, 0, -30px);
    transform: translate3d(-15px, 0, -30px);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
    background-color: var(--wdt-elementor-color-white);
    color: var(--wdt-elementor-color-accent);
    font-size: 35px;
    -webkit-box-shadow: 0 0 3px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
    box-shadow: 0 0 3px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
}

.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item:hover .wdt-content-image-wrapper {
    -webkit-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
}

.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item:hover .wdt-content-icon-wrapper {
    margin-left: -5px;
    -webkit-transform: translate3d(-100%, 0, -15px);
    transform: translate3d(-100%, 0, -15px);
}

.wdt-testimonial-holder.wdt-rc-template-aside-icon .wdt-content-item:hover .wdt-content-icon-wrapper .wdt-content-icon span {
    background-color: var(--wdt-elementor-color-accent);
    color: var(--wdt-elementor-color-white);
}


/* DuoTone Template */
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item {
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 0 2px 0 rgba(var(--wdt-elementor-color-secondary-rgb), 0.25);
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item>* {
    margin: 0;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-detail-group {
    z-index: -1;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-media-group,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group {
    padding: 35px;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-media-group {
    background-color: #fff;
    position: relative;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-media-group:after {
    background-color: inherit;
    content: "";
    height: 15px;
    margin: 0 auto -8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 15px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: inherit;
    transition: inherit;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-detail-group,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group .wdt-content-title h5,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group .wdt-content-title h5>a,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group .wdt-content-subtitle,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group .wdt-social-icons-list li a,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group .wdt-rating li span,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group ul li,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group span {
    color: var(--wdt-elementor-color-white);
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item:hover .wdt-content-group {
    background-color: var(--wdt-elementor-color-accent);
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item:hover .wdt-content-title h5>a:hover,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item:hover .wdt-social-icons-list li a:hover {
    color: var(--wdt-elementor-color-black);
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-icon-wrapper {
    margin: -10px 0 0 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
    background-color: var(--wdt-elementor-color-accent);
    color: var(--wdt-elementor-color-white);
    font-size: 13px;
    height: 35px;
    width: 25px;
    -webkit-transform: skewY(15deg);
    transform: skewY(15deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span i,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span:after {
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span:after {
    background-color: inherit;
    content: "";
    height: 1em;
    opacity: 0.75;
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    z-index: -1;
    -webkit-transform: rotate(45deg) skew(15deg, -45deg);
    transform: rotate(45deg) skew(15deg, -45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group {
    background-color: rgba(var(--wdt-elementor-color-accent-rgb), 0.85);
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: start;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    width: 100%;
    z-index: 0;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group>* {
    margin: 0 5px;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group .wdt-content-title-group {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: start;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group .wdt-content-title-group>* {
    display: inline-block;
    flex: 1 1 100%;
    margin-bottom: 0;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-group .wdt-content-title-group>span {
    display: none;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-image-wrapper {
    flex: 0 1 0;
    height: auto !important;
    margin-bottom: 0;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-image-wrapper .wdt-content-image {
    justify-content: inherit;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-image-wrapper,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-image-wrapper .wdt-content-image,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    min-width: 75px;
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    height: 75px;
    width: 75px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
    box-shadow: 0 0 3px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15);
}

.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a img,
.wdt-testimonial-holder.wdt-rc-template-duotone .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


/* Split Aside Template */
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item {
    background-color: rgba(var(--wdt-elementor-color-accent-rgb), 0.1);
    display: flex;
    flex-wrap: wrap;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item>* {
    margin-bottom: 0 !important;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-media-group,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-group {
    margin-bottom: 0 !important;
    padding: 20px;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-media-group {
    display: inline-flex;
    flex: 2 1 0;
    max-width: 100%;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-media-group>* {
    flex: 1 1 100%;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-media-group {
    background-color: rgba(var(--wdt-elementor-color-accent-rgb), 0.85);
    display: inline-flex;
    flex-wrap: wrap;
    height: 100%;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item:hover .wdt-media-group {
    background-color: var(--wdt-elementor-color-accent);
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-detail-group {
    flex: 3 1 0;
    overflow-wrap: anywhere;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-separator.separator-2 span {
    max-width: 100%;
    width: 100%;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-media-group,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-media-group .wdt-content-title h5,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-media-group .wdt-content-title h5>a,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-media-group .wdt-content-subtitle,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-media-group .wdt-social-icons-list li a,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-media-group .wdt-rating li span,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-media-group ul li,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-media-group span {
    color: var(--wdt-elementor-color-white);
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item:hover .wdt-content-title h5>a:hover,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item:hover .wdt-social-icons-list li a:hover {
    color: var(--wdt-elementor-color-black);
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    border: 2px solid currentColor;
    color: inherit;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-image-wrapper,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-image-wrapper .wdt-content-image,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    min-width: 75px;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    height: 75px;
    padding: 0;
    width: 75px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a img,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item:hover .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item:hover .wdt-content-image-wrapper .wdt-content-image>span {
    border-color: transparent;
    -webkit-box-shadow: 0 0 0 2px var(--wdt-elementor-color-white);
    box-shadow: 0 0 0 2px var(--wdt-elementor-color-white);
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item:hover .wdt-content-image-wrapper .wdt-content-image>a img,
.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item:hover .wdt-content-image-wrapper .wdt-content-image>span img {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}


.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-icon-wrapper {
    margin: 0 !important;
    opacity: 0.15;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(-35px, 30px);
    transform: translate(-35px, 30px);
    transition: var(--wdt-elementor-base-transition);
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
    color: var(--wdt-elementor-color-black);
    font-size: 35px;
    height: 1em;
    padding: 0;
    width: 1em;
}

.wdt-testimonial-holder.wdt-rc-template-split-aside .wdt-content-item:hover .wdt-content-icon-wrapper {
    opacity: 0.5;
    -webkit-transform: translate(-25px, 25px);
    transform: translate(-25px, 25px);
}


/* Standard Template */
.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item {
    text-align: center;
    -webkit-box-shadow: 0 0 1px 1px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15) inset;
    box-shadow: 0 0 1px 1px rgba(var(--wdt-elementor-color-secondary-rgb), 0.15) inset;
}

.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-media-group {
    margin-bottom: 0;
}

.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-media-group {
    background-color: rgba(var(--wdt-elementor-color-accent-rgb), 0.25);
}

.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-media-group,
.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-group {
    padding: 20px;
}

.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-image-wrapper,
.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-image-wrapper .wdt-content-image,
.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    min-width: 100px;
}

.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a,
.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span {
    height: 100px;
    padding: 0;
    width: 100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 2px rgba(var(--wdt-elementor-color-secondary-rgb), 0.25);
    box-shadow: 0 0 2px rgba(var(--wdt-elementor-color-secondary-rgb), 0.25);
}

.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>a img,
.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-image-wrapper .wdt-content-image>span img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item:hover .wdt-media-group {
    background-color: var(--wdt-elementor-color-accent);
}

.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-media-group .wdt-content-title h5,
.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item .wdt-media-group .wdt-content-title h5>a {
    color: var(--wdt-elementor-color-accent);
}

.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item:hover .wdt-media-group .wdt-content-title h5,
.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item:hover .wdt-media-group .wdt-content-title h5>a {
    color: var(--wdt-elementor-color-white);
}

.wdt-testimonial-holder.wdt-rc-template-standard .wdt-content-item:hover .wdt-media-group .wdt-content-title h5>a:hover {
    color: var(--wdt-elementor-color-black);
}

/* Custom CSS */

.wdt-custom-blog-testimonials .wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-title-group{
    display: inline-flex;
    gap: 5px;
    align-items: baseline;
    justify-content: end;
}
.wdt-custom-blog-testimonials .elementor-widget-container .wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-title-group .wdt-content-title h5{
    font-weight: var(--wdtFontWeight_Alt);
}

/* Responsive */

@media (max-width: 479px) {
    .wdt-testimonial-holder.wdt-rc-template-aside-title .wdt-content-item .wdt-content-icon-wrapper {
        top: -20%;
    }
}